<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"

                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="加派原件"
                      type="com.cy.work.connect.web.view.components.WCExceDepComponent"
                      required="true"/>
        <cc:attribute name="dlgName" shortDescription="dialog名稱"
                      type="java.lang.String" required="true"/>
    </cc:interface>
    <cc:implementation>

        <p:scrollPanel style="height:550px"
                       mode="native">
            <p:outputPanel>
                　　　　　<p:outputLabel value="　"/>
            </p:outputPanel>
            <p:panelGrid columns="2">
                <p:outputPanel>
                    <p:remoteCommand name="doAddExecDepfilterName"
                                     actionListener="#{cc.attrs.model.doFliterName()}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     update="@composite:pgOrg"
                                     process="@this @composite:addExecDepfilterName @composite:searchParentDepId"/>
                    <p:outputLabel value="部門："/>
                    <p:inputText id="addExecDepfilterName" value="#{cc.attrs.model.filterName}"
                                 onkeydown="executeScriptByEnter(event, 'doAddExecDepfilterName();');"/>
                    <p:commandButton icon="fa fa-search"
                                     onclick="doAddExecDepfilterName();"
                                     process="@this"/>
                    <p:outputLabel value=" "/>

                </p:outputPanel>
                <p:selectBooleanCheckbox value="#{cc.attrs.model.searchParentDep}"
                                         id="searchParentDepId"
                                         itemLabel="搜尋結果包含下層部門">
                </p:selectBooleanCheckbox>
            </p:panelGrid>

            <p:panelGrid id="pgOrg" columns="3"
                         columnClasses="topAligned40,topAligned10,topAligned40">

                <p:column colspan="1"> <p:fieldset legend="未選取清單">
                    <p:dataTable id="dtSourceOrg" widgetVar="wvSourceOrg" var="o"
                                 rowIndexVar="rowIndex"
                                 value="#{cc.attrs.model.dataPickList.sourceData}" rowKey="#{o.sid}"
                                 selection="#{cc.attrs.model.dataPickList.sourceSelected}"
                                 paginator="true" rows="20"
                                 selectionMode="single" scrollHeight="300" scrollable="true"
                                 resizableColumns="true" liveResize="true">
                        <p:ajax event="rowDblselect"
                                listener="#{cc.attrs.model.dataPickList.btnAddRow}"
                                onstart="showLoad();" oncomplete="hideLoad();"
                                update="@composite:pgOrg" process="@this @composite:pgOrg"/>
                        <p:column headerText="序" styleClass="alignCenter" width="25">
                            <h:outputText value="#{rowIndex + 1}"/>
                        </p:column>
                        <p:column headerText="部門">
                            <h:outputText value="#{o.name}" id="sourceName"/>
                            <p:tooltip for="sourceName"
                                       value="#{o.name}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                    </p:dataTable>
                </p:fieldset></p:column>
                <p:column colspan="1"> <p:panelGrid columns="1" style="align-content: center;">
                    <p:commandButton icon="fa fa-angle-right" title="add"
                                     actionListener="#{cc.attrs.model.dataPickList.btnAddRow}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     update="@composite:pgOrg"
                                     process="@this @composite:pgOrg">
                    </p:commandButton>
                    <p:commandButton icon="fa fa-angle-double-right" title="Add All"
                                     actionListener="#{cc.attrs.model.dataPickList.btnAddAllRow}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     update="@composite:pgOrg"
                                     process="@this @composite:pgOrg">
                    </p:commandButton>
                    <p:commandButton icon="fa fa-angle-left" title="Remove"
                                     actionListener="#{cc.attrs.model.dataPickList.btnRemoveRow}"

                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     update="@composite:pgOrg"
                                     process="@this @composite:pgOrg">
                    </p:commandButton>
                    <p:commandButton icon="fa fa-angle-double-left" title="Remove All"
                                     actionListener="#{cc.attrs.model.dataPickList.btnRemoveAllRow}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     update="@composite:pgOrg"
                                     process="@this @composite:pgOrg">
                    </p:commandButton>
                </p:panelGrid></p:column>

                <p:column colspan="1">
                    <p:fieldset legend="已選取清單">
                        <p:dataTable id="dtTargetOrg" widgetVar="wvTargetOrg" var="o"
                                     value="#{cc.attrs.model.dataPickList.targetData}"
                                     rowKey="#{o.sid}"
                                     selection="#{cc.attrs.model.dataPickList.targetSelected}"
                                     rowIndexVar="rowIndex"
                                     paginator="true" rows="20"
                                     selectionMode="single" scrollHeight="300" scrollable="true"
                                     resizableColumns="true" liveResize="true">
                            <p:ajax event="rowDblselect"
                                    listener="#{cc.attrs.model.dataPickList.btnRemoveRow}"
                                    onstart="showLoad();" oncomplete="hideLoad();"
                                    update="@composite:pgOrg" process="@this @composite:pgOrg"/>
                            <p:column headerText="序" styleClass="alignCenter" width="25">
                                <h:outputText value="#{rowIndex + 1}"/>
                            </p:column>
                            <p:column headerText="部門">
                                <h:outputText value="#{o.name}" id="tagetDepName"/>
                                <p:tooltip for="tagetDepName"
                                           value="#{o.name}"
                                           trackMouse="true"
                                           escape="false"/>
                            </p:column>
                        </p:dataTable>

                    </p:fieldset>
                </p:column>
            </p:panelGrid>
        </p:scrollPanel>
        <p:panelGrid columns="2">
            <p:commandButton value="確定"
                             onstart="showLoad();" actionListener="#{cc.attrs.model.doSelectOrg()}"
                             oncomplete="hideLoad();"
                             process="@this @composite:pgOrg">
            </p:commandButton>
            <p:commandButton value="取消"
                             onclick="PF('#{cc.attrs.dlgName}').hide();"
                             process="@this"/>
        </p:panelGrid>


    </cc:implementation>
</ui:composition>
