<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <cc:interface>
        <cc:attribute name="model" shortDescription="組織樹物件"
                      type="com.cy.work.connect.web.common.DepSingleTreeManager"
                      required="true"/>
        <cc:attribute name="compositeId" shortDescription="composite id"
                      type="java.lang.String"
                      required="true"/>
        <!--選取事件-->
        <cc:attribute name="selectNodeEvent" shortDescription="選取Node 事件"
                      method-signature="void actionListener(javax.faces.event.AjaxBehaviorEvent)"/>
        <cc:attribute name="selectUpdateId" shortDescription="選取後 update的引用頁元件"
                      type="java.lang.String"/>
    </cc:interface>

    <cc:implementation>
        <!--透過Enter查詢部門名稱-->
        <p:remoteCommand name="doSearch#{cc.attrs.compositeId}"
                         actionListener="#{cc.attrs.model.searchOrgName()}"
                         onstart="showLoad();"
                         oncomplete="hideLoad();"
                         update="singleOrgTree"
                         process="@this singleOrg_name singleOrgTree">
        </p:remoteCommand>
        <p:panelGrid columns="2">
            <p:inputText id="singleOrg_name"
                         placeholder="Search"
                         value="#{cc.attrs.model.orgName}"
                         onkeydown="executeScriptByEnter(event, 'doSearch#{cc.attrs.compositeId}();');"/>
            <p:commandButton icon="ui-icon-search"
                             onclick="doSearch#{cc.attrs.compositeId}();"
                             process="@this"/>
        </p:panelGrid>
        <p:selectBooleanCheckbox value="#{cc.attrs.model.noShowDepHistory}"
                                 itemLabel="不顯示停用部門">
            <p:ajax listener="#{cc.attrs.model.changeTree()}"
                    onstart="showLoad();"
                    oncomplete="hideLoad();"
                    update="singleOrgTree"
                    process="@this"/>
        </p:selectBooleanCheckbox>
        <p:scrollPanel mode="native" style="width:250px;height:300px">
            <p:tree id="singleOrgTree"
                    value="#{cc.attrs.model.orgNode}"
                    selection="#{cc.attrs.model.selectedNode}"
                    var="node"
                    selectionMode="single">
                <p:ajax event="select"
                        listener="#{cc.attrs.selectNodeEvent}"
                        disabled="#{ empty cc.attrs.selectNodeEvent
                                     ||  empty cc.attrs.selectUpdateId}"
                        onstart="showLoad();"
                        oncomplete="hideLoad();"
                        update="#{cc.attrs.selectUpdateId}"
                        process="@this">
                </p:ajax>
                <p:treeNode styleClass="treeIcon">
                    <h:outputText value="#{commonVoBean.getNameByOrg(node)}"
                                  style="#{cc.attrs.model.getStyle(node)}"/>
                </p:treeNode>
            </p:tree>
        </p:scrollPanel>

    </cc:implementation>
</ui:composition>