<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="附加檔案模型物件" required="true"/>
        <cc:attribute name="update"
                      shortDescription="一個檔案上傳後要更新的引用頁元件, fully qualified component client IDs"
                      type="java.lang.String"/>
        <cc:attribute name="process" shortDescription="process的引用頁元件"
                      type="java.lang.String"/>
        <cc:actionSource name="actionEvent" targets="saveEvent"/>
    </cc:interface>

    <cc:implementation>
        <f:facet name="last">
            <h:outputStylesheet name="nest_upload_dialog.css" library="css"/>
        </f:facet>
        <p:fieldset legend="類別附加檔案">
            <p:panelGrid columns="1" style="width: 100%">
                <h:outputFormat value="單一檔案容量限制為 {0} MB">
                    <f:param value="#{cc.attrs.model.fileSizeLimit}"/>
                    <p:graphicImage class="ath_load_class" value="../img/ajax-loader.gif"
                                    style="display:none;"/>
                </h:outputFormat>
                <p:fileUpload listener="#{cc.attrs.model.validateFiles}"
                              mode="advanced" multiple="true" process="@this"
                              cancelLabel="取消" uploadLabel="上傳" label="選擇檔案"
                              update="#{cc.attrs.update} uploadMsg"
                              sizeLimit="#{cc.attrs.model.fileSizeLimit * 1024 * 1024}">
                </p:fileUpload>

                <h:panelGrid columns="2" id="ath_upload_msg">
                    <p:outputLabel value="訊息："/>
                    <p:inputTextarea value="#{cc.attrs.model.uploadMessages}"
                                     id="uploadMsg"
                                     autoResize="false"
                                     disabled="true" readonly="true"
                                     cols="110" rows="4"/>
                    <p:remoteCommand name="updateAthUploadMsg" onstart="athHideLoad();"
                                     update="@parent "/>
                </h:panelGrid>
            </p:panelGrid>
            <f:facet name="footer">
                <h:outputText value="提示：您可以將檔案拖拉到「選擇檔案」區域內，且一次選多個檔案（IE 8 以前的版本不支援）"/>
            </f:facet>
        </p:fieldset>
        <script>
            var filesCount = 0;
            var numberOfFiles = 0;

            function setUploadFilesCount() {
                filesCount = 0;
                numberOfFiles = $('.ui-fileupload-preview').length;
            }

            function attchUploadComplete() {
                filesCount++;
                if (filesCount === numberOfFiles) {
                    updateAthUploadMsg();
                }
            }

            function athShowLoad() {
                $(".ath_load_class").css({'display': ''});
                $(".ath_close_class").css({'display': 'none'});
                $(".ath_upload_dlg_class").find(".ui-icon-closethick").css({'display': 'none'});
            }

            function athHideLoad() {
                $(".ath_load_class").css({'display': 'none'});
                $(".ath_close_class").css({'display': ''});
                $(".ath_upload_dlg_class").find(".ui-icon-closethick").css({'display': ''});
            }
        </script>
    </cc:implementation>
</ui:composition>
