<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="WorkReportDataComponent物件"
                      type="com.cy.work.connect.web.view.components.WorkReportDataComponent"
                      required="true"/>
        <cc:attribute name="edit" shortDescription="是否可編輯"
                      type="java.lang.Boolean" required="true"/>
    </cc:interface>
    <cc:implementation>
        <p:panelGrid columns="2">
            <h:panelGroup>
                <h:outputText value="主題："/>
            </h:panelGroup>
            <p:inputText value="#{cc.attrs.model.title}" style="width: 650px;"
                         disabled="#{!cc.attrs.edit}"/>

            <h:panelGroup>
                <h:outputText value="內容："/>
            </h:panelGroup>
            <p:editor widgetVar="workReportData_content" id="wk_data_content"
                      converter="#{editorConverter}" disabled="#{!cc.attrs.edit}"
                      value="#{cc.attrs.model.content}"
                      controls="font size bold italic underline color highlight"
                      style="width: 600px; ">
            </p:editor>
            <h:panelGroup>
                <h:outputText value="備註："/>
            </h:panelGroup>
            <p:editor widgetVar="workReportData_remark" id="wk_data_remark"
                      converter="#{editorConverter}"
                      value="#{cc.attrs.model.remark}" disabled="#{!cc.attrs.edit}"
                      controls="font size bold italic underline color highlight"
                      style="width: 600px; ">
            </p:editor>
        </p:panelGrid>
    </cc:implementation>
</ui:composition>

