<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="WorkReportDataComponent物件"
                      type="com.cy.work.connect.web.view.components.WorkGroupSetupPrivateComponent"
                      required="true"/>
    </cc:interface>
    <cc:implementation>


        <!-- 群組設定 - 單元編輯 -->
        <p:dialog header="群組設定"
                  id="pt_group_setup_private_setting_dlg_id"
                  position="left top"
                  width="50%"
                  modal="true"
                  widgetVar="pt_group_setup_private_setting_dlg_wv"
                  draggable="false"
                  closable="false"
                  resizable="false"
                  appendTo=":formTemplate:viewPanel"
        >
            <p:panel id="pt_group_setup_private_setting_dlg_panel_id" style="border:none">
                <cp:workTraceGroupMaintain
                        model="#{cc.attrs.model.workGroupSetupPrivateMaitainComponent}">


                </cp:workTraceGroupMaintain>


            </p:panel>
        </p:dialog>

    </cc:implementation>
</ui:composition>

