<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProjectReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{sessionTimerBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="待領單據清單" />
	</ui:define>

	<ui:define name="content">
		<p:outputPanel id="allPanel">
			<p:outputPanel>
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="類型 ： 待領單據清單"
						styleClass="reportTypeColor" />
				</p:outputPanel>
			</p:outputPanel>
			<p:panelGrid columns="2">
				<p:outputLabel value="領單人：" />
				<p:outputLabel value="#{search2Bean.userViewVO.name}" />
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:commandButton
					value="批次領單"
					id="batchReceviceID"
					actionListener="#{search2Bean.openBatchReceiveDialog()}"
					process="@this"
					disabled="#{search2Bean.disableBatchRecevice}"
					onstart="showLoad();"
					oncomplete="hideLoad();" />
			</p:panelGrid>
			<p:dataTable
				id="#{search2Bean.dataTableID}"
				widgetVar="#{search2Bean.dataTableWv}"
				rendered="#{!search2Bean.showFrame}"
				value="#{search2Bean.allVos}"
				selection="#{search2Bean.selVos}"
				rows="#{search2Bean.columnVO.pageCount}"
				rowKey="#{wc.sid}"
				var="wc"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand">
				<p:ajax
					event="rowSelect"
					listener="#{search2Bean.doSelectRow()}"
					update="batchReceviceID"
					process="@this" />
				<p:ajax
					event="rowSelectCheckbox"
					listener="#{search2Bean.doSelectRow()}"
					update="batchReceviceID"
					process="@this" />
				<p:ajax
					event="rowUnselect"
					listener="#{search2Bean.doSelectRow()}"
					update="batchReceviceID"
					process="@this" />
				<p:ajax
					event="rowUnselectCheckbox"
					listener="#{search2Bean.doSelectRow()}"
					update="batchReceviceID"
					process="@this" />
				<p:ajax
					event="toggleSelect"
					listener="#{search2Bean.doSelectRow()}"
					update="batchReceviceID"
					process="@this" />
				<p:ajax
					event="filter"
					listener="#{search2Bean.onFilter}"
					update="@this batchReceviceID" />
				<p:ajax
					event="colResize"
					process="@this"
					update="widthSaveBtn"
					listener="#{search2Bean.customColumn.doResizeColumn()}" />
				<f:facet name="header">
					<p:outputPanel>
						<p:autoUpdate />
						<p:commandButton
							value="寬度儲存"
							id="widthSaveBtn"
							rendered="#{search2Bean.customColumn.showResizeColumn}"
							onstart="btnSaveColumnWith('#{search2Bean.dataTableID}');"
							process="@this"
							style="position: absolute;right: 15px">
						</p:commandButton>
					</p:outputPanel>
				</f:facet>
				<p:column
					headerText="#{search2Bean.columnVO.index.name}"
					rendered="#{search2Bean.columnVO.index.show}"
					width="#{search2Bean.columnVO.index.width}">
					<h:outputText
						value="#{index+1}"
						style="text-align:center" />
				</p:column>
				<p:column
					selectionMode="multiple"
					style="width:30px;text-align:center" />
				<p:column width="60">
					<p:commandButton
						value="領單"
						process="@this"
						onstart="showLoad();"
						actionListener="#{search2Bean.openReceiveDialog(wc.sid)}"
						oncomplete="hideLoad();" />
				</p:column>
				<p:column
					headerText="#{search2Bean.columnVO.requireEstablishDate.name}"
					style="text-align: center;"
					rendered="#{search2Bean.columnVO.requireEstablishDate.show}"
					sortBy="#{wc.requireEstablishDate}"
					width="#{search2Bean.columnVO.requireEstablishDate.width}">
					<h:outputText value="#{wc.requireEstablishDate}" />
				</p:column>
				<p:column
					headerText="#{search2Bean.columnVO.requireDepName.name}"
					style="text-align: center;"
					rendered="#{search2Bean.columnVO.requireDepName.show}"
					sortBy="#{wc.requireDepName}"
					filterBy="#{wc.requireDepName}"
					filterMatchMode="contains"
					width="#{search2Bean.columnVO.requireDepName.width}">
					<h:outputText value="#{wc.requireDepName}" />
				</p:column>
				<p:column
					headerText="#{search2Bean.columnVO.requireUserName.name}"
					style="text-align: center;"
					rendered="#{search2Bean.columnVO.requireUserName.show}"
					sortBy="#{wc.requireUserName}"
					filterBy="#{wc.requireUserName}"
					filterMatchMode="contains"
					width="#{search2Bean.columnVO.requireUserName.width}">
					<h:outputText value="#{wc.requireUserName}" />
				</p:column>
				<p:column
					headerText="#{search2Bean.columnVO.menuTagName.name}"
					style="text-align: center;"
					rendered="#{search2Bean.columnVO.menuTagName.show}"
					filterBy="#{wc.menuTagName}"
					sortBy="#{wc.menuTagName}"
					filterMatchMode="exact"
					width="#{search2Bean.columnVO.menuTagName.width}">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('#{search2Bean.dataTableWv}').filter();">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search2Bean.menuTagItems}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{wc.menuTagName}" />
				</p:column>
				<p:column
					headerText="#{search2Bean.columnVO.theme.name}"
					rendered="#{search2Bean.columnVO.theme.show}"
					filterBy="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
					sortBy="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
					filterMatchMode="contains"
					width="#{search2Bean.columnVO.theme.width}">
					<h:outputText
						id="theme"
						value="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}" />
					<p:tooltip
						for="theme"
						value="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
						trackMouse="true"
						escape="false" />
				</p:column>
				<p:column
					headerText="#{search2Bean.columnVO.wcNo.name}"
					style="text-align: center;"
					rendered="#{search2Bean.columnVO.wcNo.show}"
					sortBy="#{wc.wcNo}"
					filterBy="#{wc.wcNo}"
					filterMatchMode="contains"
					width="#{search2Bean.columnVO.wcNo.width}">
					<h:outputText value="#{wc.wcNo}" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>


		<p:outputPanel id="iframePanel">
			<p:outputPanel
				id="frameContentPanel"
				rendered="#{search2Bean.showFrame}">
				<iframe
					id="test"
					name="tetst"
					frameborder="0"
					src="#{search2Bean.iframeUrl}"
					width="100%" />
				<script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("#test").css('height', $(window).height() - 20);
                    });
                </script>
			</p:outputPanel>
		</p:outputPanel>

		<!--回到列表查詢-->
		<p:remoteCommand
			name="closeIframe"
			actionListener="#{search2Bean.closeIframe()}"
			update=":formTemplate:allPanel :formTemplate:iframePanel"
			process="@this ">
		</p:remoteCommand>
		<!--執行上一筆-->
		<p:remoteCommand
			name="openerByBtnUp"
			actionListener="#{search2Bean.openerByBtnUp()}"
			process="@this">
		</p:remoteCommand>
		<!--執行下一筆-->
		<p:remoteCommand
			name="openerByBtnDown"
			actionListener="#{search2Bean.openerByBtnDown()}"
			process="@this ">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="reloadDataByUpdate"
			actionListener="#{search2Bean.reloadDataByUpdate()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByEditContent"
			actionListener="#{search2Bean.openerByEditContent()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByInvalid"
			actionListener="#{search2Bean.openerByInvalid()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByTrace"
			actionListener="#{search2Bean.openerByTrace()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByFavorite"
			actionListener="#{search2Bean.openerByFavorite()}"
			process="@this">
		</p:remoteCommand>
		<!--提示訊息-->
		<p:confirmDialog
			id="confimDlgTemplate"
			widgetVar="confimDlgTemplate">
			<f:facet name="message">
				<h:outputText
					value="#{search2Bean.errorMessage}"
					escape="false" />
			</f:facet>
			<p:commandButton
				value="確認"
				onclick="PF('confimDlgTemplate').hide()"
				type="button" />
		</p:confirmDialog>
		<p:remoteCommand
			name="saveColumnWith"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			actionListener="#{search2Bean.customColumn.saveColumnWith()}"
			process="@this">
		</p:remoteCommand>

		<script type="text/javascript">

            function showTabView() {

            }

            //?????
            function getNewItemPos(obj) {
                var noOfItems = $("#hiddenSizeId").val();
                var itemIx = $("#hiddenIxId").val();
                var bucketHt = $("#" + obj + " .ui-datatable-scrollable-body").height();
                var scrollHt = $("#" + obj + " .ui-datatable-scrollable-body").prop("scrollHeight");

                var itemHt = parseInt(scrollHt) / parseInt(noOfItems);
                var noItemsInBucket = parseInt(bucketHt) / parseFloat(itemHt);
                var itemNo = parseInt(itemIx) + 1;
                var targetBucket = parseInt(itemNo) / parseFloat(noItemsInBucket);
                var halfBucketHt = parseInt(bucketHt) / 2;
                var scrollPos = (parseInt(bucketHt) * (parseFloat(targetBucket) - 1)) +
                    parseFloat(halfBucketHt);
                var scrollPosInt = Math.round(parseFloat(scrollPos));

                $('#' + obj + ' .ui-datatable-scrollable-body').scrollTop(scrollPosInt);
            }

            //?????
            function doReloadDataToUpdate(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                reloadDataByUpdate([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByInvalidJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByInvalid([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByEditContentJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditContent([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByTraceJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrace([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByFavoriteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByFavorite([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).find('.ui-column-title').text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"'
                                + widthText
                                + '"}';
                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }
        </script>

	</ui:define>

</ui:composition>
