<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProjectReport.xhtml"
>
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="備忘錄查詢"/>
    </ui:define>

    <ui:define name="content">
        <!--執行查詢-->
        <p:remoteCommand name="doSearchData"
                         actionListener="#{search6Bean.doSearch()}"
                         onstart="showLoad();"
                         oncomplete="hideLoad();"
                         update="#{search6Bean.dataTableID}"
                         process="@this view_query"/>
        <p:outputPanel id="view_query">
            <p:outputPanel>
                <p:outputPanel style="margin-left:5px;">
                    <h:outputText value="類型 ： 備忘錄查詢" styleClass="reportTypeColor"/>
                </p:outputPanel>
            </p:outputPanel>
            <p:panelGrid rendered="#{!search6Bean.showFrame}">
                <p:row>
                    <p:column colspan="11">
                        <p:panelGrid columns="10">
                            <p:outputLabel value="建立部門："/>
                            <p:selectOneMenu value="#{search6Bean.query.selCreateDapSid}">
                                <f:selectItems value="#{search6Bean.createDepItems}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="主題："/>
                            <p:inputText value="#{search6Bean.query.theme}"
                                         onkeydown="executeScriptByEnter(event, 'doSearchData();');"/>
                            <p:outputLabel value="內容："/>
                            <p:inputText value="#{search6Bean.query.content}"
                                         onkeydown="executeScriptByEnter(event, 'doSearchData();');"/>
                            <p:outputLabel value="是否已轉聯絡單："/>
                            <p:selectOneMenu value="#{search6Bean.query.selTransType}">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItems value="#{search6Bean.transWorkConnectItems}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="是否閱讀："/>
                            <p:selectOneMenu value="#{search6Bean.query.selReadStatus}">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItems value="#{search6Bean.readStatusItems}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="5">
                        <p:commandButton value="上個月"
                                         actionListener="#{search6Bean.query.changeDateIntervalPreMonth}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="本月份"
                                         actionListener="#{search6Bean.query.changeDateIntervalThisMonth}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="下個月"
                                         actionListener="#{search6Bean.query.changeDateIntervalNextMonth}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="前一日"
                                         actionListener="#{search6Bean.query.changeDateIntervalPreDay}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="今日"
                                         actionListener="#{search6Bean.query.changeDateIntervaltoDay}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="建立區間："/>
                    </p:column>
                    <p:column colspan="3">
                        <p:panelGrid columns="3" id="view_query_intervalDate">
                            <p:calendar value="#{search6Bean.query.startDate}"
                                        navigator="true"
                                        mode="popup"
                                        showOn="button"
                                        pattern="yyyy/MM/dd"/>
                            <p:outputLabel value="～"/>
                            <p:calendar value="#{search6Bean.query.endDate}"
                                        navigator="true"
                                        mode="popup"
                                        showOn="button"
                                        pattern="yyyy/MM/dd"/>
                        </p:panelGrid>
                    </p:column>
                    <p:column colspan="2">
                        <p:panelGrid columns="3">
                            <p:commandButton value="搜尋"
                                             onclick="doSearchData();"
                                             process="@this"/>
                            <p:commandButton value="清除"
                                             actionListener="#{search6Bean.clear()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();"
                                             update="view_query #{search6Bean.dataTableID}"
                                             process="@this"/>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:outputPanel>
        <p:outputPanel id="allPanel">
            <p:dataTable id="#{search6Bean.dataTableID}"
                         widgetVar="#{search6Bean.dataTableWv}"
                         rendered="#{!search6Bean.showFrame}"
                         value="#{search6Bean.allVos}"
                         selection="#{search6Bean.selVo}"
                         rows="#{search6Bean.columnVO.pageCount}"
                         rowKey="#{m.sid}"
                         var="m"
                         rowIndexVar="index"
                         scrollHeight="#{search6Bean.dtScrollHeight}"
                         scrollable="true"
                         paginator="true"
                         draggableColumns="true"
                         resizableColumns="true"
                         resizeMode="expand"
                         selectionMode="single"
            >
                <p:ajax event="colResize"
                        process="@this"
                        update="widthSaveBtn"
                        listener="#{search6Bean.customColumn.doResizeColumn()}"
                />
                <f:facet name="header">
                    <p:outputPanel>
                        <p:autoUpdate/>
                        <p:commandButton value="寬度儲存" id="widthSaveBtn"
                                         rendered="#{search6Bean.customColumn.showResizeColumn}"
                                         onstart="btnSaveColumnWith('#{search6Bean.dataTableID}');"
                                         process="@this"
                                         style="position: absolute;right: 15px">
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>
                <p:column headerText="#{search6Bean.columnVO.index.name}"
                          rendered="#{search6Bean.columnVO.index.show}"
                          width="#{search6Bean.columnVO.index.width}">
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="#{search6Bean.columnVO.createDate.name}"
                          style="text-align: center;"
                          rendered="#{search6Bean.columnVO.createDate.show}"
                          sortBy="#{m.createDate}"
                          width="#{search6Bean.columnVO.createDate.width}">
                    <h:outputText value="#{m.createDate}"/>
                </p:column>
                <p:column headerText="#{search6Bean.columnVO.createDep.name}"
                          style="text-align: center;"
                          rendered="#{search6Bean.columnVO.createDep.show}" sortBy="#{m.createDep}"
                          width="#{search6Bean.columnVO.createDep.width}">
                    <h:outputText value="#{m.createDep}"/>
                </p:column>
                <p:column headerText="#{search6Bean.columnVO.theme.name}"
                          rendered="#{search6Bean.columnVO.theme.show}" sortBy="#{m.theme}"
                          width="#{search6Bean.columnVO.theme.width}">
                    <p:commandButton icon="fa fa-search"
                                     actionListener="#{search6Bean.btnOpenUrl(m.sid)}"
                                     onclick="openWinByStore('#{index+1}-#{m.memoNo}')"
                                     oncomplete="replaceUrlByStore('#{index+1}-#{m.memoNo}','../worp/worp4.xhtml?memoSid=#{m.sid}')"
                                     process="@this"/>

                    <p:commandLink id="theme"
                                   value="#{m.theme}"
                                   actionListener="#{search6Bean.btnOpenFrame(m.sid)}"
                                   onstart="showLoad();"
                                   oncomplete="hideLoad();"
                                   update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
                                   process="@this"/>
                    <p:tooltip for="theme"
                               value="#{m.theme}"
                               trackMouse="true"
                               escape="false"/>
                </p:column>
                <p:column headerText="#{search6Bean.columnVO.readStatus.name}"
                          style="text-align: center;"
                          rendered="#{search6Bean.columnVO.readStatus.show}"
                          sortBy="#{m.readStatus}"
                          width="#{search6Bean.columnVO.readStatus.width}">
                    <h:outputText value="#{m.readStatus}"
                                  style="#{m.readStatusCss}#{m.readStatusBlodCss}"/>
                </p:column>
                <p:column headerText="#{search6Bean.columnVO.transWcStatus.name}"
                          sortBy="#{m.transWcStatus}"
                          rendered="#{search6Bean.columnVO.transWcStatus.show}"
                          style="text-align: center;"
                          width="#{search6Bean.columnVO.transWcStatus.width}">
                    <h:outputText value="#{m.transWcStatus}" style="text-align: center;"/>
                </p:column>
                <p:column headerText="#{search6Bean.columnVO.memoNo.name}" sortBy="#{m.memoNo}"
                          rendered="#{search6Bean.columnVO.memoNo.show}" style="text-align: center;"
                          width="#{search6Bean.columnVO.memoNo.width}">
                    <h:outputText value="#{m.memoNo}"/>
                </p:column>
                <p:column width="130">
                    <p:commandButton value="轉工作聯絡單"
                                     actionListener="#{search6Bean.clickTrans(m.sid)}"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();"
                                     process="@this"/>
                </p:column>
            </p:dataTable>
        </p:outputPanel>

        <p:dialog header="單據挑選" widgetVar="transDlg" modal="true" position="top" resizable="false">
            <p:scrollPanel style="border:none;height: 100%; width: 400px;" mode="native"
                           id="transDlgPanel">
                <ui:include src="../components/category_tree.xhtml">
                    <ui:param name="componentId"
                              value="categoryTree"/>
                    <ui:param name="categoryTreeComponent"
                              value="#{search6Bean.categoryTreeComponent}"/>
                </ui:include>
            </p:scrollPanel>
            <p:panelGrid columns="2">
                <p:commandButton value="確定" onstart="showLoad();"
                                 oncomplete="hideLoad();"
                                 process="@this"
                                 actionListener="#{search6Bean.clickToTransWorkConnect()}"

                />
                <p:commandButton value="取消" onclick="PF('transDlg').hide();" process="@this"/>
            </p:panelGrid>
        </p:dialog>
        <p:outputPanel id="iframePanel">
            <p:outputPanel id="frameContentPanel"
                           rendered="#{search6Bean.showFrame}">
                <iframe id="test"
                        name="tetst"
                        frameborder="0"
                        src="#{search6Bean.iframeUrl}"
                        width="100%"
                />
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("#test").css('height', $(window).height() - 20);
                    });
                </script>
            </p:outputPanel>
        </p:outputPanel>

        <!--回到列表查詢-->
        <p:remoteCommand name="closeIframe"
                         actionListener="#{search6Bean.closeIframe()}"
                         update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
                         process="@this ">
        </p:remoteCommand>
        <!--執行上一筆-->
        <p:remoteCommand name="openerByBtnUp"
                         actionListener="#{search6Bean.openerByBtnUp()}"
                         process="@this">
        </p:remoteCommand>
        <!--執行下一筆-->
        <p:remoteCommand name="openerByBtnDown"
                         actionListener="#{search6Bean.openerByBtnDown()}"
                         process="@this ">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="reloadDataByUpdate"
                         actionListener="#{search6Bean.reloadDataByUpdate()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByEditContent"
                         actionListener="#{search6Bean.openerByEditContent()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByInvalid"
                         actionListener="#{search6Bean.openerByInvalid()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByTrace"
                         actionListener="#{search6Bean.openerByTrace()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByFavorite"
                         actionListener="#{search6Bean.openerByFavorite()}"
                         process="@this">
        </p:remoteCommand>
        <!--提示訊息-->
        <p:confirmDialog id="confimDlgTemplate"
                         widgetVar="confimDlgTemplate">
            <f:facet name="message">
                <h:outputText value="#{search6Bean.errorMessage}"
                              escape="false"/>
            </f:facet>
            <p:commandButton value="確認"
                             onclick="PF('confimDlgTemplate').hide()"
                             type="button"/>
        </p:confirmDialog>

        <!--提示訊息-->
        <p:confirmDialog id="confimDlgTrans"
                         widgetVar="confimDlgTrans">
            <f:facet name="message">
                <h:outputText value="此單據已轉過工作聯絡單，請問是否再次進行轉入？"
                              escape="false"/>
            </f:facet>
            <p:panelGrid columns="2">
                <p:commandButton value="確定" onstart="showLoad();"
                                 oncomplete="hideLoad();"
                                 process="@this"
                                 actionListener="#{search6Bean.doClickToTransWorkConnect()}"/>
                <p:commandButton value="取消" onclick="PF('confimDlgTrans').hide();" process="@this"/>
            </p:panelGrid>
        </p:confirmDialog>

        <!--透過父畫面 呼叫刷新-->
        <p:remoteCommand name="iframeUpdate"
                         update="allPanel view_query"
                         oncomplete="parent.hideLoad();"
                         process="@this">
        </p:remoteCommand>
        <!--更新dtScrollHeight-->
        <p:remoteCommand name="updateDtScrollHeight"
                         actionListener="#{search6Bean.updateDtScrollHeight()}"
                         process="@this">
        </p:remoteCommand>

        <p:remoteCommand name="saveColumnWith"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{search6Bean.customColumn.saveColumnWith()}"
                         process="@this">
        </p:remoteCommand>

        <script type="text/javascript">
            var dtId = "#{search6Bean.dataTableID}";
            var dtScrollHeight = null;
            jQuery(document).ready(function () {
                if (!checkIframe()) {
                    refreshDtScrollHeight(dtId);
                    dtScrollHeight = getDt_scrollableHeight(dtId);
                    updateDtScrollHeight([{name: 'dtScrollHeight', value: dtScrollHeight}]);
                }
            });

            //判斷為iframe
            function checkIframe() {
                if (self !== top) {
                    return true;
                }
                return false;
            }

            //刷新DataTableel ScrollHeight  By Iframe
            function refreshDtScrollHeightByIframe() {
                if (dtScrollHeight === null) {
                    refreshDataTableScrollHeight(dtId, parent.frame_height);
                    dtScrollHeight = getDt_scrollableHeight(dtId);
                    updateDtScrollHeight([{name: 'dtScrollHeight', value: dtScrollHeight}]);
                }
            }

            //隱藏上方tab(呼叫 父畫面)
            function hideTabView() {
                if (checkIframe()) {
                    //parent.hideTabView();
                }
            }

            //顯示上方tab(呼叫 父畫面)
            function showTabView() {
                if (checkIframe()) {
                    //parent.showTabView();
                }
            }

            //?????
            function getNewItemPos(obj) {
                var noOfItems = $("#hiddenSizeId").val();
                var itemIx = $("#hiddenIxId").val();
                var bucketHt = $("#" + obj + " .ui-datatable-scrollable-body").height();
                var scrollHt = $("#" + obj + " .ui-datatable-scrollable-body").prop("scrollHeight");

                var itemHt = parseInt(scrollHt) / parseInt(noOfItems);
                var noItemsInBucket = parseInt(bucketHt) / parseFloat(itemHt);
                var itemNo = parseInt(itemIx) + 1;
                var targetBucket = parseInt(itemNo) / parseFloat(noItemsInBucket);
                var halfBucketHt = parseInt(bucketHt) / 2;
                var scrollPos = (parseInt(bucketHt) * (parseFloat(targetBucket) - 1)) +
                    parseFloat(halfBucketHt);
                var scrollPosInt = Math.round(parseFloat(scrollPos));

                $('#' + obj + ' .ui-datatable-scrollable-body').scrollTop(scrollPosInt);
            }

            //?????
            function doReloadDataToUpdate(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                reloadDataByUpdate([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByInvalidJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByInvalid([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByEditContentJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditContent([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByTraceJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrace([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByFavoriteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByFavorite([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"'
                                + widthText
                                + '"}';
                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }
        </script>

    </ui:define>

</ui:composition>
