<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProjectReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{sessionTimerBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="申請單據清單" />
	</ui:define>

	<ui:define name="content">
		<!--執行查詢-->
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search4Bean.doSearch()}"
			onstart="showLoad();"
			oncomplete="hideLoad();PF('#{search4Bean.dataTableWv}').clearFilters();"
			update="#{search4Bean.dataTableID}"
			process="@this view_query" />
		<p:outputPanel id="view_query">
			<p:outputPanel>
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="類型 ： 申請單據清單"
						styleClass="reportTypeColor" />
				</p:outputPanel>
			</p:outputPanel>
			<p:panelGrid rendered="#{!search4Bean.showFrame}">
				<p:row>
					<p:column colspan="1">
						<p:outputLabel value="類別：" />
					</p:column>
					<p:column colspan="1">
						<p:selectOneMenu value="#{search4Bean.query.categorySid}">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search4Bean.categoryItems}" />
						</p:selectOneMenu>
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="單據狀態：" />
					</p:column>
					<p:column colspan="1">
						<p:selectCheckboxMenu
							value="#{search4Bean.query.statusList}"
							label="單據狀態"
							filter="true"
							filterMatchMode="startsWith"
							panelStyle="width:250px">
							<f:selectItems value="#{search4Bean.statusItems}" />
						</p:selectCheckboxMenu>
					</p:column>
					<p:column
						colspan="1"
						rendered="#{search4Bean.isManager}">
						<p:outputLabel value="申請人：" />
					</p:column>
					<p:column
						colspan="1"
						rendered="#{search4Bean.isManager}">
						<p:inputText
							value="#{search4Bean.query.applicationUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="模糊搜尋：" />
					</p:column>
					<p:column colspan="1">
						<p:inputText
							value="#{search4Bean.query.lazyContent}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
					</p:column>
					<p:column colspan="1">
						<p:outputLabel
							value="內容："
							rendered="false" />
					</p:column>
					<p:column colspan="1">
						<p:inputText
							value="#{search4Bean.query.content}"
							rendered="false"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="4">
						<p:commandButton
							value="上個月"
							actionListener="#{search4Bean.query.changeDateIntervalPreMonth}"
							update="view_query_intervalDate"
							process="@this" />
						<p:commandButton
							value="本月份"
							actionListener="#{search4Bean.query.changeDateIntervalThisMonth}"
							update="view_query_intervalDate"
							process="@this" />
						<p:commandButton
							value="下個月"
							actionListener="#{search4Bean.query.changeDateIntervalNextMonth}"
							update="view_query_intervalDate"
							process="@this" />
						<p:commandButton
							value="前一日"
							actionListener="#{search4Bean.query.changeDateIntervalPreDay}"
							update="view_query_intervalDate"
							process="@this" />
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="建立區間：" />
					</p:column>
					<p:column colspan="3">
						<p:panelGrid
							columns="3"
							id="view_query_intervalDate">
							<p:calendar
								value="#{search4Bean.query.startDate}"
								navigator="true"
								mode="popup"
								showOn="button"
								pattern="yyyy/MM/dd" />
							<p:outputLabel value="～" />
							<p:calendar
								value="#{search4Bean.query.endDate}"
								navigator="true"
								mode="popup"
								showOn="button"
								pattern="yyyy/MM/dd" />
						</p:panelGrid>
					</p:column>
					<p:column colspan="2">
						<p:panelGrid columns="3">
							<p:commandButton
								value="搜尋"
								onclick="doSearchData();"
								process="@this" />
							<p:commandButton
								value="清除"
								actionListener="#{search4Bean.clear()}"
								onstart="showLoad();"
								oncomplete="hideLoad();PF('#{search4Bean.dataTableWv}').clearFilters();"
								update="view_query #{search4Bean.dataTableID}"
								process="@this" />
							<p:commandButton
								value="匯出"
								actionListener="#{search4Bean.hideColumnContent()}"
								onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
								ajax="false">
								<p:dataExporter
									type="xls"
									target="#{search4Bean.dataTableID}"
									fileName="WorkConnect"
									postProcessor="#{search4Bean.exportExcel}" />
							</p:commandButton>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:outputPanel>
		<p:outputPanel id="allPanel">
			<p:dataTable
				id="#{search4Bean.dataTableID}"
				widgetVar="#{search4Bean.dataTableWv}"
				rendered="#{!search4Bean.showFrame}"
				value="#{search4Bean.allVos}"
				selection="#{search4Bean.selVo}"
				rows="#{search4Bean.columnVO.pageCount}"
				rowKey="#{wc.sid}"
				var="wc"
				rowIndexVar="index"
				scrollHeight="#{search4Bean.dtScrollHeight}"
				scrollable="true"
				paginator="true"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single">
				<p:ajax
					event="colResize"
					process="@this"
					update="widthSaveBtn"
					listener="#{search4Bean.customColumn.doResizeColumn()}" />
				<f:facet name="header">
					<p:outputPanel>
						<p:autoUpdate />
						<p:commandButton
							value="寬度儲存"
							id="widthSaveBtn"
							rendered="#{search4Bean.customColumn.showResizeColumn}"
							onstart="btnSaveColumnWith('#{search4Bean.dataTableID}');"
							process="@this"
							style="position: absolute;right: 15px">
						</p:commandButton>
					</p:outputPanel>
				</f:facet>
				<p:column
					headerText="#{search4Bean.columnVO.index.name}"
					rendered="#{search4Bean.columnVO.index.show}"
					width="#{search4Bean.columnVO.index.width}">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="#{search4Bean.columnVO.createDate.name}"
					style="text-align: center;"
					rendered="#{search4Bean.columnVO.createDate.show}"
					sortBy="#{wc.createDate}"
					width="#{search4Bean.columnVO.createDate.width}">
					<h:outputText value="#{wc.createDate}" />
				</p:column>
				<p:column
					headerText="#{search4Bean.columnVO.categoryName.name}"
					rendered="#{search4Bean.columnVO.categoryName.show}"
					filterBy="#{wc.categoryName}"
					filterMatchMode="in"
					sortBy="#{wc.categoryName}"
					style="text-align: center;"
					width="#{search4Bean.columnVO.categoryName.width}">
					<f:facet name="filter">
						<p:selectCheckboxMenu
							label="#{search4Bean.columnVO.categoryName.name}"
							onchange="PF('#{search4Bean.dataTableWv}').filter()"
							filter="true"
							filterMatchMode="contains">
							<p:ajax
								event="toggleSelect"
								oncomplete="PF('#{search4Bean.dataTableWv}').filter()" />
							<f:selectItems value="#{search4Bean.categoryTagNameItems}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{wc.categoryName}" />
				</p:column>
				<p:column
					headerText="#{search4Bean.columnVO.menuTagName.name}"
					rendered="#{search4Bean.columnVO.menuTagName.show}"
					filterBy="#{wc.menuTagName}"
					filterMatchMode="in"
					sortBy="#{wc.menuTagName}"
					style="text-align: center;"
					width="#{search4Bean.columnVO.menuTagName.width}">
					<f:facet name="filter">
						<p:selectCheckboxMenu
							label="#{search4Bean.columnVO.menuTagName.name}"
							onchange="PF('#{search4Bean.dataTableWv}').filter()"
							filter="true"
							filterMatchMode="contains">
							<p:ajax
								event="toggleSelect"
								oncomplete="PF('#{search4Bean.dataTableWv}').filter()" />
							<f:selectItems value="#{search4Bean.menuTagNameItems}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{wc.menuTagName}" />
				</p:column>
				<p:column
					headerText="申請單位"
					style="text-align: center;"
					sortBy="#{wc.depName}"
					width="100">
					<h:outputText value="#{wc.depName}" escape="false" />
				</p:column>
                <p:column
					headerText="#{search4Bean.columnVO.applicationUserName.name}"
					style="text-align: center;"
					rendered="#{search4Bean.columnVO.applicationUserName.show}"
					sortBy="#{wc.applicationUserName}"
					width="#{search4Bean.columnVO.applicationUserName.width}">
					<h:outputText value="#{wc.applicationUserName}" />
				</p:column>
				<p:column
					headerText="#{search4Bean.columnVO.theme.name}"
					rendered="#{search4Bean.columnVO.theme.show}"
					filterMatchMode="contains"
					filterBy="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
					sortBy="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
					width="#{search4Bean.columnVO.theme.width}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search4Bean.hasDisplay}"
						actionListener="#{search4Bean.btnOpenUrl(wc.sid)}"
						onclick="openWinByStore('#{index+1}-#{wc.wcNo}')"
						oncomplete="replaceUrlByStore('#{index+1}-#{wc.wcNo}','../worp/worp_full.xhtml?wrcId=#{wc.wcSid}')"
						process="@this" />
                    &nbsp;
                    <h:outputText
						value="( #{wc.unReadCount} )"
						rendered="#{wc.hasUnReadCount}"
						style=" color: red" />
					<p:commandLink
						id="theme"
						value="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
						actionListener="#{search4Bean.btnOpenFrame(wc.wcSid)}"
						onstart="showLoad();"
						oncomplete="hideLoad();hideTabView();"
						update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
						process="@this" />
					<p:tooltip
						for="theme"
						rendered="#{search4Bean.hasDisplay}"
						value="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
						trackMouse="true"
						escape="false" />
				</p:column>
				<p:column
					headerText="#{search4Bean.columnVO.statusName.name}"
					rendered="#{search4Bean.columnVO.statusName.show}"
					filterBy="#{wc.statusName}"
					filterMatchMode="in"
					sortBy="#{wc.statusName}"
					style="text-align: center;"
					width="#{search4Bean.columnVO.statusName.width}">
					<f:facet name="filter">
						<p:selectCheckboxMenu
							label="#{search4Bean.columnVO.statusName.name}"
							onchange="PF('#{search4Bean.dataTableWv}').filter()">
							<p:ajax
								event="toggleSelect"
								oncomplete="PF('#{search4Bean.dataTableWv}').filter()" />
							<f:selectItems value="#{search4Bean.statusNameItems}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{wc.statusName}" />
				</p:column>
				<p:column
					headerText="#{search4Bean.columnVO.wcNo.name}"
					rendered="#{search4Bean.columnVO.wcNo.show}"
					filterMatchMode="contains"
					filterBy="#{wc.wcNo}"
					sortBy="#{wc.wcNo}"
					style="text-align: center;"
					width="#{search4Bean.columnVO.wcNo.width}">
					<h:outputText value="#{wc.wcNo}" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>

		<p:outputPanel id="iframePanel">
			<p:outputPanel
				id="frameContentPanel"
				rendered="#{search4Bean.showFrame}">
				<iframe
					id="test"
					name="tetst"
					frameborder="0"
					src="#{search4Bean.iframeUrl}"
					width="100%" />
				<script type="text/javascript">
					jQuery(document).ready(function() {
						$("#test").css('height', $(window).height() - 20);
					});
				</script>
			</p:outputPanel>
		</p:outputPanel>

		<!--回到列表查詢-->
		<p:remoteCommand
			name="closeIframe"
			actionListener="#{search4Bean.closeIframe()}"
			oncomplete="showTabView();"
			update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
			process="@this ">
		</p:remoteCommand>
		<!--執行上一筆-->
		<p:remoteCommand
			name="openerByBtnUp"
			actionListener="#{search4Bean.openerByBtnUp()}"
			process="@this">
		</p:remoteCommand>
		<!--執行下一筆-->
		<p:remoteCommand
			name="openerByBtnDown"
			actionListener="#{search4Bean.openerByBtnDown()}"
			process="@this ">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="reloadDataByUpdate"
			actionListener="#{search4Bean.reloadDataByUpdate()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByEditContent"
			actionListener="#{search4Bean.openerByEditContent()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByInvalid"
			actionListener="#{search4Bean.openerByInvalid()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByTrace"
			actionListener="#{search4Bean.openerByTrace()}"
			process="@this">
		</p:remoteCommand>
		<!--?????-->
		<p:remoteCommand
			name="openerByFavorite"
			actionListener="#{search4Bean.openerByFavorite()}"
			process="@this">
		</p:remoteCommand>
		<!--提示訊息-->
		<p:confirmDialog
			id="confimDlgTemplate"
			widgetVar="confimDlgTemplate">
			<f:facet name="message">
				<h:outputText
					value="#{search4Bean.errorMessage}"
					escape="false" />
			</f:facet>
			<p:commandButton
				value="確認"
				onclick="PF('confimDlgTemplate').hide()"
				type="button" />
		</p:confirmDialog>

		<!--透過父畫面 呼叫刷新-->
		<p:remoteCommand
			name="iframeUpdate"
			update="allPanel view_query"
			oncomplete="parent.hideLoad();"
			process="@this">
		</p:remoteCommand>
		<!--更新dtScrollHeight-->
		<p:remoteCommand
			name="updateDtScrollHeight"
			actionListener="#{search4Bean.updateDtScrollHeight()}"
			process="@this">
		</p:remoteCommand>
		<p:remoteCommand
			name="saveColumnWith"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			actionListener="#{search4Bean.customColumn.saveColumnWith()}"
			process="@this">
		</p:remoteCommand>
		<script type="text/javascript">
			var dtId = "#{search4Bean.dataTableID}";
			var dtScrollHeight = null;
			jQuery(document).ready(function() {
				if (checkIframe()) {
					refreshDataTableScrollHeight(dtId, parent.frame_height);
				} else {
					refreshDtScrollHeight(dtId);
				}
				dtScrollHeight = getDt_scrollableHeight(dtId);
				updateDtScrollHeight([ {
					name : 'dtScrollHeight',
					value : dtScrollHeight
				} ]);
			});

			//判斷為iframe
			function checkIframe() {
				if (self !== top) {
					return true;
				}
				return false;
			}

			//刷新DataTableel ScrollHeight  By Iframe
			function refreshDtScrollHeightByIframe() {
				if (dtScrollHeight === null) {
					refreshDataTableScrollHeight(dtId, parent.frame_height);
					dtScrollHeight = getDt_scrollableHeight(dtId);
					updateDtScrollHeight([ {
						name : 'dtScrollHeight',
						value : dtScrollHeight
					} ]);
				}
			}

			//隱藏上方tab(呼叫 父畫面)
			function hideTabView() {
				if (checkIframe()) {
					// parent.hideTabView();
				}
			}

			//顯示上方tab(呼叫 父畫面)
			function showTabView() {
				if (checkIframe()) {
					// parent.showTabView();
				}
			}

			//?????
			function getNewItemPos(obj) {
				var noOfItems = $("#hiddenSizeId").val();
				var itemIx = $("#hiddenIxId").val();
				var bucketHt = $("#" + obj + " .ui-datatable-scrollable-body")
						.height();
				var scrollHt = $("#" + obj + " .ui-datatable-scrollable-body")
						.prop("scrollHeight");

				var itemHt = parseInt(scrollHt) / parseInt(noOfItems);
				var noItemsInBucket = parseInt(bucketHt) / parseFloat(itemHt);
				var itemNo = parseInt(itemIx) + 1;
				var targetBucket = parseInt(itemNo)
						/ parseFloat(noItemsInBucket);
				var halfBucketHt = parseInt(bucketHt) / 2;
				var scrollPos = (parseInt(bucketHt) * (parseFloat(targetBucket) - 1))
						+ parseFloat(halfBucketHt);
				var scrollPosInt = Math.round(parseFloat(scrollPos));

				$('#' + obj + ' .ui-datatable-scrollable-body').scrollTop(
						scrollPosInt);
			}

			//?????
			function doReloadDataToUpdate(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				reloadDataByUpdate([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			//?????
			function openerByInvalidJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByInvalid([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			//?????
			function openerByEditContentJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByEditContent([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			//?????
			function openerByTraceJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByTrace([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			//?????
			function openerByFavoriteJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByFavorite([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			//?????
			function btnSaveColumnWith(obj) {
				var theadclone = obj + " .ui-datatable-scrollable-theadclone";
				var columnvalue = "";
				var headText = "";
				var widthText = "";
				if ($("#" + theadclone).length > 0) {
					$("#" + obj + "_head th").each(
							function() {
								if ($(this).css("display") !== 'none') {
									if (columnvalue !== "") {
										columnvalue = columnvalue + ",";
									}
									headText = $.trim($(this).text());
									widthText = $(this).css("width").replace(
											'px', '');
									columnvalue = columnvalue + '{"name":"'
											+ headText + '","width":"'
											+ widthText + '"}';
								}
							});
					saveColumnWith([ {
						name : 'columnvalue',
						value : "[" + columnvalue + "]"
					} ]);
				}
			}
		</script>

	</ui:define>

</ui:composition>
