<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProjectReport.xhtml"
>
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="退件一覽表"/>
    </ui:define>
    <ui:define name="content">
        <!--執行查詢-->
        <p:remoteCommand name="doSearchData"
                         actionListener="#{search8Bean.doSearch()}"
                         onstart="showLoad();"
                         oncomplete="hideLoad();PF('#{search8Bean.dataTableWv}').clearFilters();"
                         update="#{search8Bean.dataTableID}"
                         process="@this view_query"/>
        <p:outputPanel id="view_query">
            <p:outputPanel>
                <p:outputPanel style="margin-left:5px;">
                    <h:outputText value="類型 ： 退件一覽表" styleClass="reportTypeColor"/>
                </p:outputPanel>
            </p:outputPanel>
            <p:panelGrid rendered="#{!search8Bean.showFrame}">
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="類別："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu value="#{search8Bean.query.categorySid}">
                            <f:selectItem itemValue="" itemLabel="全部"/>
                            <f:selectItems value="#{search8Bean.categoryItems}"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="模糊搜尋："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:inputText value="#{search8Bean.query.lazyContent}"
                                     onkeydown="executeScriptByEnter(event, 'doSearchData();');"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="內容：" rendered="false"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:inputText value="#{search8Bean.query.content}" rendered="false"
                                     onkeydown="executeScriptByEnter(event, 'doSearchData();');"/>
                    </p:column>
                    <p:column colspan="1">

                    </p:column>
                    <p:column colspan="1">

                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="4">
                        <p:commandButton value="上個月"
                                         actionListener="#{search8Bean.query.changeDateIntervalPreMonth}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="本月份"
                                         actionListener="#{search8Bean.query.changeDateIntervalThisMonth}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="下個月"
                                         actionListener="#{search8Bean.query.changeDateIntervalNextMonth}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                        <p:commandButton value="前一日"
                                         actionListener="#{search8Bean.query.changeDateIntervalPreDay}"
                                         update="view_query_intervalDate"
                                         process="@this"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="退件區間："/>
                    </p:column>
                    <p:column colspan="3">
                        <p:panelGrid columns="3" id="view_query_intervalDate">
                            <p:calendar value="#{search8Bean.query.startDate}"
                                        navigator="true"
                                        mode="popup"
                                        showOn="button"
                                        pattern="yyyy/MM/dd"/>
                            <p:outputLabel value="～"/>
                            <p:calendar value="#{search8Bean.query.endDate}"
                                        navigator="true"
                                        mode="popup"
                                        showOn="button"
                                        pattern="yyyy/MM/dd"/>
                        </p:panelGrid>
                    </p:column>
                    <p:column colspan="2">
                        <p:panelGrid columns="3">
                            <p:commandButton value="搜尋"
                                             onclick="doSearchData();"
                                             process="@this"/>
                            <p:commandButton value="清除"
                                             actionListener="#{search8Bean.clear()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('#{search8Bean.dataTableWv}').clearFilters();"
                                             update="view_query #{search8Bean.dataTableID}"
                                             process="@this"/>
                            <p:commandButton value="匯出" rendered="false"
                                             actionListener="#{search8Bean.hideColumnContent()}"
                                             onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
                                             ajax="false">
                                <p:dataExporter type="xls"
                                                target="#{search8Bean.dataTableID}"
                                                fileName="WorkConnect"
                                                postProcessor="#{search8Bean.exportExcel}"/>
                            </p:commandButton>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:outputPanel>
        <p:outputPanel id="allPanel">
            <p:dataTable id="#{search8Bean.dataTableID}"
                         widgetVar="#{search8Bean.dataTableWv}"
                         rendered="#{!search8Bean.showFrame}"
                         value="#{search8Bean.allVos}"
                         selection="#{search8Bean.selVo}"
                         rows="#{search8Bean.columnVO.pageCount}"
                         rowKey="#{wc.sid}"
                         var="wc"
                         rowIndexVar="index"
                         scrollHeight="400"
                         scrollable="true"
                         paginator="true"
                         draggableColumns="true"
                         resizableColumns="true"
                         resizeMode="expand"
                         selectionMode="single"
            >
                <p:ajax event="colResize"
                        process="@this"
                        update="widthSaveBtn"
                        listener="#{search8Bean.customColumn.doResizeColumn()}"
                />
                <f:facet name="header">
                    <p:outputPanel>
                        <p:autoUpdate/>
                        <p:commandButton value="寬度儲存" id="widthSaveBtn"
                                         rendered="#{search8Bean.customColumn.showResizeColumn}"
                                         onstart="btnSaveColumnWith('#{search8Bean.dataTableID}');"
                                         process="@this"
                                         style="position: absolute;right: 15px">
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>
                <p:column headerText="#{search8Bean.columnVO.index.name}"
                          rendered="#{search8Bean.columnVO.index.show}"
                          width="#{search8Bean.columnVO.index.width}">
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.rollBackDate.name}"
                          style="text-align: center;"
                          rendered="#{search8Bean.columnVO.rollBackDate.show}"
                          sortBy="#{wc.rollBackDate}"
                          width="#{search8Bean.columnVO.rollBackDate.width}">
                    <h:outputText value="#{wc.rollBackDate}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.categoryName.name}"
                          rendered="#{search8Bean.columnVO.categoryName.show}"
                          filterBy="#{wc.categoryName}"
                          filterMatchMode="in"
                          sortBy="#{wc.categoryName}"
                          style="text-align: center;"
                          width="#{search8Bean.columnVO.categoryName.width}">
                    <f:facet name="filter">
                        <p:selectCheckboxMenu label="#{search8Bean.columnVO.categoryName.name}"
                                              onchange="PF('#{search8Bean.dataTableWv}').filter()"
                                              filter="true" filterMatchMode="contains">
                            <p:ajax event="toggleSelect"
                                    oncomplete="PF('#{search8Bean.dataTableWv}').filter()"/>
                            <f:selectItems value="#{search8Bean.categoryTagNameItems}"/>
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{wc.categoryName}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.menuTagName.name}"
                          rendered="#{search8Bean.columnVO.menuTagName.show}"
                          filterBy="#{wc.menuTagName}"
                          filterMatchMode="in"
                          sortBy="#{wc.menuTagName}"
                          style="text-align: center;"
                          width="#{search8Bean.columnVO.menuTagName.width}">
                    <f:facet name="filter">
                        <p:selectCheckboxMenu label="#{search8Bean.columnVO.menuTagName.name}"
                                              onchange="PF('#{search8Bean.dataTableWv}').filter()"
                                              filter="true" filterMatchMode="contains">
                            <p:ajax event="toggleSelect"
                                    oncomplete="PF('#{search8Bean.dataTableWv}').filter()"/>
                            <f:selectItems value="#{search8Bean.menuTagNameItems}"/>
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{wc.menuTagName}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.reqDep.name}"
                          rendered="#{search8Bean.columnVO.reqDep.show}"
                          filterBy="#{wc.reqDepName}"
                          filterMatchMode="in"
                          sortBy="#{wc.reqDepName}"
                          style="text-align: center;"
                          width="#{search8Bean.columnVO.reqDep.width}">
                    <f:facet name="filter">
                        <p:selectCheckboxMenu label="#{search8Bean.columnVO.reqDep.name}"
                                              onchange="PF('#{search8Bean.dataTableWv}').filter()"
                                              filter="true" filterMatchMode="contains">
                            <p:ajax event="toggleSelect"
                                    oncomplete="PF('#{search8Bean.dataTableWv}').filter()"/>
                            <f:selectItems value="#{search8Bean.reqDepNameItems}"/>
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{wc.reqDepName}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.wcStatus.name}"
                          rendered="#{search8Bean.columnVO.wcStatus.show}"
                          filterBy="#{wc.wcStatus}"
                          filterMatchMode="in"
                          sortBy="#{wc.wcStatus}"
                          style="text-align: center;"
                          width="#{search8Bean.columnVO.wcStatus.width}">
                    <f:facet name="filter">
                        <p:selectCheckboxMenu label="#{search8Bean.columnVO.wcStatus.name}"
                                              onchange="PF('#{search8Bean.dataTableWv}').filter()">
                            <p:ajax event="toggleSelect"
                                    oncomplete="PF('#{search8Bean.dataTableWv}').filter()"/>
                            <f:selectItems value="#{search8Bean.wcStatusItems}"/>
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{wc.wcStatus}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.rollBackName.name}"
                          rendered="#{search8Bean.columnVO.rollBackName.show}"
                          filterMatchMode="contains" filterBy="#{wc.rollBackUserName}"
                          sortBy="#{wc.rollBackUserName}"
                          style="text-align: center;"
                          width="#{search8Bean.columnVO.rollBackName.width}">
                    <h:outputText value="#{wc.rollBackUserName}"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.theme.name}"
                          rendered="#{search8Bean.columnVO.theme.show}"
                          filterMatchMode="contains"
                          filterBy="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
                          sortBy="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
                          width="#{search8Bean.columnVO.theme.width}">
                    <p:commandButton icon="fa fa-search"
                                     rendered="#{search8Bean.hasDisplay}"
                                     actionListener="#{search8Bean.btnOpenUrl(wc.wcSid)}"
                                     onclick="openWinByStore('#{index+1}-#{wc.wcNo}')"
                                     oncomplete="replaceUrlByStore('#{index+1}-#{wc.wcNo}','../worp/worp_full.xhtml?wrcId=#{wc.wcSid}')"
                                     process="@this"/>
                    <p:commandLink id="theme"
                                   value="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
                                   actionListener="#{search8Bean.btnOpenFrame(wc.wcSid)}"
                                   onstart="showLoad();"
                                   oncomplete="hideLoad();"
                                   update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
                                   process="@this"/>
                    <p:tooltip for="theme" rendered="#{search8Bean.hasDisplay}"
                               value="#{wc.theme}#{not empty wc.tgSids? '(': ''}#{wc.tagInfo}#{not empty wc.tgSids? ')': ''}"
                               trackMouse="true"
                               escape="false"/>
                </p:column>
                <p:column headerText="#{search8Bean.columnVO.wcNo.name}"
                          rendered="#{search8Bean.columnVO.wcNo.show}"
                          filterMatchMode="contains" filterBy="#{wc.wcNo}"
                          sortBy="#{wc.wcNo}"
                          width="#{search8Bean.columnVO.wcNo.width}">
                    <h:outputText value="#{wc.wcNo}"/>
                </p:column>
            </p:dataTable>
        </p:outputPanel>

        <p:outputPanel id="iframePanel">
            <p:outputPanel id="frameContentPanel"
                           rendered="#{search8Bean.showFrame}">
                <iframe id="test"
                        name="tetst"
                        frameborder="0"
                        src="#{search8Bean.iframeUrl}"
                        width="100%"
                />
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("#test").css('height', $(window).height() - 20);
                    });
                </script>
            </p:outputPanel>
        </p:outputPanel>

        <!--回到列表查詢-->
        <p:remoteCommand name="closeIframe"
                         actionListener="#{search8Bean.closeIframe()}"
                         update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
                         process="@this ">
        </p:remoteCommand>
        <!--執行上一筆-->
        <p:remoteCommand name="openerByBtnUp"
                         actionListener="#{search8Bean.openerByBtnUp()}"
                         process="@this">
        </p:remoteCommand>
        <!--執行下一筆-->
        <p:remoteCommand name="openerByBtnDown"
                         actionListener="#{search8Bean.openerByBtnDown()}"
                         process="@this ">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="reloadDataByUpdate"
                         actionListener="#{search8Bean.reloadDataByUpdate()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByEditContent"
                         actionListener="#{search8Bean.openerByEditContent()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByInvalid"
                         actionListener="#{search8Bean.openerByInvalid()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByTrace"
                         actionListener="#{search8Bean.openerByTrace()}"
                         process="@this">
        </p:remoteCommand>
        <!--?????-->
        <p:remoteCommand name="openerByFavorite"
                         actionListener="#{search8Bean.openerByFavorite()}"
                         process="@this">
        </p:remoteCommand>
        <!--提示訊息-->
        <p:confirmDialog id="confimDlgTemplate"
                         widgetVar="confimDlgTemplate">
            <f:facet name="message">
                <h:outputText value="#{search8Bean.errorMessage}"
                              escape="false"/>
            </f:facet>
            <p:commandButton value="確認"
                             onclick="PF('confimDlgTemplate').hide()"
                             type="button"/>
        </p:confirmDialog>
        <p:remoteCommand name="saveColumnWith"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{search8Bean.customColumn.saveColumnWith()}"
                         process="@this">
        </p:remoteCommand>
        <script type="text/javascript">
            function showTabView() {

            }

            //?????
            function getNewItemPos(obj) {
                var noOfItems = $("#hiddenSizeId").val();
                var itemIx = $("#hiddenIxId").val();
                var bucketHt = $("#" + obj + " .ui-datatable-scrollable-body").height();
                var scrollHt = $("#" + obj + " .ui-datatable-scrollable-body").prop("scrollHeight");

                var itemHt = parseInt(scrollHt) / parseInt(noOfItems);
                var noItemsInBucket = parseInt(bucketHt) / parseFloat(itemHt);
                var itemNo = parseInt(itemIx) + 1;
                var targetBucket = parseInt(itemNo) / parseFloat(noItemsInBucket);
                var halfBucketHt = parseInt(bucketHt) / 2;
                var scrollPos = (parseInt(bucketHt) * (parseFloat(targetBucket) - 1)) +
                    parseFloat(halfBucketHt);
                var scrollPosInt = Math.round(parseFloat(scrollPos));

                $('#' + obj + ' .ui-datatable-scrollable-body').scrollTop(scrollPosInt);
            }

            //?????
            function doReloadDataToUpdate(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                reloadDataByUpdate([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByInvalidJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByInvalid([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByEditContentJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditContent([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByTraceJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrace([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function openerByFavoriteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByFavorite([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            //?????
            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"'
                                + widthText
                                + '"}';
                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }
        </script>

    </ui:define>

</ui:composition>
