<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<style type="text/css">

/* panel效果
    ----------------------------------*/
#category_items_panel_style .ui-panelgrid .ui-panelgrid-cell {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	padding: 1px 5px !important;
}

#category_items_panel_style .ui-panelgrid td, .ui-panelgrid tr {
	border-style: none !important;
	margin: 0 !important;
	padding: 0px !important;
}

#category_items_panel_style .ui-panel .ui-panel-content {
	padding: 0em;
}

#category_items_panel_style .ui-widget-header {
	border: transparent;
	border-top-style: dotted;
	border-color: #FFAC55;
	border-width: 3px;
	background: transparent;
	color: black;
	font-weight: bold;
}
</style>

<!--componentId 外部參數-->
<!--categoryItemComponent 外部參數-->
<p:panelGrid columns="2">
	<p:outputPanel>
		<h:outputText
			value="單據名稱："
			styleClass="column-label-require" />
	</p:outputPanel>
	<h:outputText value="#{categoryItemComponent.categoryMenuName}" />
</p:panelGrid>

<p:panelGrid
	columns="2"
	id="category_items_panel_style">
	<p:outputPanel>
		<h:outputText
			value="#{categoryItemComponent.fieldName}："
			styleClass="column-label-require"
			escape="false" />
	</p:outputPanel>
	<h:outputText
		value="#{categoryItemComponent.categoryItem}"
		rendered="#{not empty categoryItemComponent.categoryItem}"
		escape="false" />
	<p:panelGrid
		rendered="#{empty categoryItemComponent.categoryItem}"
		columns="1">
		<p:selectManyCheckbox
			value="#{categoryItemComponent.selCategoryItems}"
			rendered="#{not empty categoryItemComponent.categoryItems}"
			disabled="#{!categoryItemComponent.canEdit}"
			layout="grid"
			columns="4"
			valueChangeListener="#{categoryItemComponent.selectedItemsChanged}">
			<f:selectItems value="#{categoryItemComponent.categoryItems}" />
		</p:selectManyCheckbox>
		<c:forEach
			items="#{categoryItemComponent.tagTypes}"
			var="each"
			varStatus="i">
			<p:panel
				style="border:none;width:1000px"
				rendered="#{categoryItemComponent.canEdit}"
				toggleable="true">
				<f:facet name="header">
					<p:selectBooleanCheckbox
						value="#{each.checkAll}"
						itemLabel="#{each.tagType}"
						disabled="#{!categoryItemComponent.canEdit}"
						id="checkAll#{i.index}">
						<p:ajax
							process="@this"
							update="tagType#{i.index}"
							listener="#{categoryItemComponent.changeCheckBox(each)}"
							onstart="showLoad();"
							oncomplete="hideLoad();" />
					</p:selectBooleanCheckbox>
				</f:facet>
				<p:panelGrid
					id="tagType#{i.index}"
					style="margin-left: 30px">
					<ui:repeat
						value="#{each.categoryItems}"
						var="item"
						varStatus="j">
						<p:row rendered="#{j.first == false and j.index % 6 == 0}" />
						<p:column>
							<!-- checkBox -->
							<p:selectBooleanCheckbox value="#{item.escape}">
								<p:ajax
									process="@form"
									listener="#{categoryItemComponent.selectedItemsChanged(each,item)}" />
							</p:selectBooleanCheckbox>
							<!-- 項目名稱 -->
							<p:outputLabel
								value="#{item.label}"
								style="padding-left:5px" />
							<!-- 項目說明 -->	
							<p:outputPanel
								style="display:inline"
								rendered="#{not empty item.description}">
								<i
									class="fa fa-question-circle fa-lg"
									style="color: #009ceb;" />
							</p:outputPanel>
							<p:tooltip
								for="@previous"
								value="#{item.description}"
								escape="false" />
						</p:column>
					</ui:repeat>
				</p:panelGrid>
			</p:panel>
		</c:forEach>
		<ui:repeat
			value="#{categoryItemComponent.tagTypes}"
			var="each"
			varStatus="i">
			<p:panel
				style="border:none;width:1000px"
				toggleable="#{!categoryItemComponent.canEdit}"
				rendered="#{!categoryItemComponent.canEdit}">
				<f:facet name="header">
					<p:outputLabel value="#{each.tagType}" />
				</f:facet>
				<p:selectManyCheckbox
					value="#{each.selCategoryItems}"
					disabled="#{!categoryItemComponent.canEdit}"
					layout="grid"
					columns="6"
					id="tagType#{i.index}"
					style="margin-left: 30px">
					<f:selectItems value="#{each.categoryItems}" />
				</p:selectManyCheckbox>
			</p:panel>
		</ui:repeat>
	</p:panelGrid>
</p:panelGrid>

</html>