<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cp="http://java.sun.com/jsf/composite/components"
        xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- ====================================== -->
    <!-- [追蹤]回覆 -->
    <!-- ====================================== -->
    <p:dialog id="again_reply_dialog"

              widgetVar="again_reply_dialog"
              modal="true"
              position="left top"
              draggable="true"
              closable="false"
              resizable="true"
    >
        <f:facet name="header">
            <p:outputLabel value="#{worp2Bean.workReportViewComponent.againReplyEditVO.traceType}"/>
        </f:facet>
        <p:panelGrid columns="1">
            <p:row>
                <p:column colspan="2">
                    <p:outputLabel
                            value="#{worp2Bean.workReportViewComponent.againReplyEditVO.userInfo}"
                            style="color:black;font-weight: bold"/>
                    &nbsp;
                    <h:outputText
                            value="#{worp2Bean.workReportViewComponent.againReplyEditVO.time}"
                            style="color:black;font-weight: bold">
                    </h:outputText>&nbsp;
                </p:column>
            </p:row>
            <p:row style="vertical-align: top">
                <p:column colspan="2">
                    <p:editor controls="font size bold italic underline color highlight"
                              id="again_reply_dialog_edit"
                              widgetVar="again_reply_dialog_edit_wv"
                              value="#{worp2Bean.workReportViewComponent.againReplyEditVO.content}"
                              style="width:500px;"
                              converter="#{htmlConverter}"/>
                </p:column>
            </p:row>
            <p:row rendered="false">
                <p:column colspan="1">
                    <p:outputLabel value="附加檔案："/>
                </p:column>
                <p:column colspan="1">
                    <p:commandButton value="附加檔案"
                                     onstart="showLoad();
                                             updateAthUploadMsg();"
                                     process="@this"
                                     oncomplete="PF('dlgUploadWv').show();hideLoad();"
                    />
                </p:column>
            </p:row>
        </p:panelGrid>
        <p:scrollPanel mode="native" rendered="false"
                       style="border:none;max-height:150px">
            <p:outputPanel id="again_attachemtViewPanel">
                <cp:attachmentView
                        model="#{worp2Bean.workReportViewComponent.wpAttachmentCompant}"></cp:attachmentView>
            </p:outputPanel>
        </p:scrollPanel>
        <p:row>
            <p:commandButton value="確定"
                             onclick="showLoad();"
                             onstart="saveHTML('again_reply_dialog_edit_wv');"
                             oncomplete="hideLoad();"
                             actionListener="#{worp2Bean.workReportViewComponent.doAgainReply()}"
                             process="@this again_attachemtViewPanel again_reply_dialog_edit"/>
            <p:commandButton value="取消"
                             onclick="PF('again_reply_dialog').hide();"/>
        </p:row>
    </p:dialog>
</ui:composition>