<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<!--execTransPersonComponent 外部參數-->
<!--componentId 外部參數-->

<p:dialog header="轉單" widgetVar="dlg_#{componentId}" modal="true" resizable="false">
    <p:outputPanel id="dlg_#{componentId}_view">
        <ui:include src="../components/orgTree_person.xhtml">
            <ui:param name="componentId"
                      value="dlg_#{componentId}_view_orgTree_person_"/>
            <ui:param name="orgTreePersonComponent"
                      value="#{execTransPersonComponent.orgTreePersonComponent}"/>
        </ui:include>
    </p:outputPanel>
    <p:panelGrid columns="2">
        <p:commandButton value="確定"
                         actionListener="#{execTransPersonComponent.saveTransPerson()}"
                         onstart="showLoad();"
                         oncomplete="hideLoad();"
                         process="@this dlg_#{componentId}_view"/>
        <p:commandButton value="取消"
                         onclick="PF('dlg_#{componentId}').hide();"
                         process="@this"
                         type="button"/>
    </p:panelGrid>
</p:dialog>

</html>