<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
>

    <!-- ====================================== -->
    <!-- 需求流程[作廢] -->
    <!-- ====================================== -->
    <p:dialog header="作廢"
              modal="true"
              position="left top"
              id="dlg_bpm_invaild"
              widgetVar="dlg_bpm_invaild"
              draggable="false"
              closable="false"
              resizable="false">
        <p:panelGrid id="invaild_panel_id">
            <p:row>
                <p:column colspan="1">
                    <h:outputText value="作廢原因"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="1">
                    <p:inputTextarea
                            value="#{worp2Bean.workReportViewComponent.workReportBtnComponent.invalidReson}"
                            cols="35" rows="7" autoResize="false"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <p:commandButton value="確定"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();"
                                     actionListener="#{worp2Bean.workReportViewComponent.workReportBtnComponent.workReportButtonListener.clickInvalid()}"
                                     process="@this invaild_panel_id"/>
                    <p:commandButton type="button" process="@this" value="取消"
                                     onclick="PF('dlg_bpm_invaild').hide()"/>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:dialog>
</ui:composition>