<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<!--legitimateRangeComponent 外部參數-->
<ui:repeat var="legitimateRangeComponent" value="#{legitimateRangeComponents}">
    <p:panelGrid columns="2">
        <p:outputPanel>
            <h:outputText value="#{legitimateRangeComponent.title}"
                          styleClass="column-label-require"/>
        </p:outputPanel>
        <p:calendar value="#{legitimateRangeComponent.selectDate}"
                    disabled="#{!legitimateRangeComponent.canEdit}"/>
    </p:panelGrid>
</ui:repeat>

</html>

