<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<p:dialog
	header="執行中"
	widgetVar="dlgLoading"
	modal="true"
	closable="false"
	resizable="false">
	<h:graphicImage
		library="images"
		name="ajax-loader.gif"
		title="執行中" />
</p:dialog>

<p:dialog
	id="common-msg"
	header="#{(empty facesContext.messageList) ? '' :
                          (facesContext.messageList[0].severity.ordinal == 2) ? '錯誤視窗' : 
                          (facesContext.messageList[0].severity.ordinal == 1) ? '警示視窗' : '訊息視窗'}"
	widgetVar="wv_commonMsg"
	modal="true"
	closable="false"
	resizable="false"
	visible="#{not empty facesContext.messageList}"
	position="center center-100">
	<p:scrollPanel
		style="max-height: 500px;max-width: 500px;border: none;"
		mode="native">
		<p:messages escape="false" />
	</p:scrollPanel>
	<p:outputPanel style="max-width: 500px;text-align:right;margin-top:20px;">
		<p:commandButton
			value="確定"
			type="button"
			onclick="PF('wv_commonMsg').hide();hideLoad();" />
	</p:outputPanel>
</p:dialog>

<p:dialog
	header="訊息確認視窗"
	widgetVar="wv_confimDlgTemplate_YN"
	id="confimDlgTemplate_YN"
	modal="true"
	closable="true"
	closeOnEscape="true"
	resizable="false"
	position="center center-100">
	<p:panelGrid>
		<p:row>
			<p:column>
				<p:scrollPanel
					style="max-height: 500px;max-width: 500px;border: none;"
					mode="native">
					<h:outputText
						value="#{confirmCallbackDialogController.message}"
						escape="false" />
				</p:scrollPanel>
			</p:column>
		</p:row>
		<p:row>
			<p:column>
			</p:column>
		</p:row>
		<p:row>
			<p:column style="text-align:right;">
				<p:commandButton
					value="確定"
					onclick="showLoad();PF('wv_confimDlgTemplate_YN').hide();"
					process="@this"
					update="#{confirmCallbackDialogController.updateAreaStr}"
					actionListener="#{confirmCallbackDialogController.showConfimDialogCallback()}"
					oncomplete="hideLoad();" />

				<p:commandButton
					rendered="#{confirmCallbackDialogController.hasCallbackAction()}"
					value="取消"
					onclick="showLoad();PF('wv_confimDlgTemplate_YN').hide();"
					actionListener="#{confirmCallbackDialogController.showConfimDialogCancelCallback()}"
					oncomplete="hideLoad();" />

				<p:commandButton
					rendered="#{not confirmCallbackDialogController.hasCallbackAction()}"
					value="取消"
					type="button"
					onclick="PF('wv_confimDlgTemplate_YN').hide();"
					process="@this" />
			</p:column>
		</p:row>
	</p:panelGrid>
</p:dialog>
</html>