<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../template/templateHome.xhtml">

	<ui:define name="__form">
		<script type="text/javascript">
            //系統訊息測試中
            function scrollSysMsgBottom() {
                $("#msgBySysMsgId").children("div").each(function () {
                    var adjHeight = $(this).height();
                    $(this).children("label").each(function () {
                        adjHeight = $(this).height() > adjHeight ? $(this).height() : adjHeight;
                    });
                    $(this).scrollTop(adjHeight);
                });
            }
        </script>
		<h:form
			id="formTemplate"
			prependId="false">
			<!-- 系統訊息 請勿移動此Dialog位置，因為下方的input欄位可能會失效。-->
			<p:dialog
				showHeader="true"
				header="系統訊息"
				widgetVar="reqSysMsgMemberWv"
				modal="false"
				closable="true"
				resizable="fasle"
				draggable="true"
				position="right top"
				onShow="scrollSysMsgBottom();"
				style="box-shadow:none;">
				<p:hotkey
					bind="esc"
					onstart="PF('reqSysMsgMemberWv').hide();" />
				<p:hotkey bind="return" />
				<p:outputPanel id="msgBySysMsgId">
					<p:autoUpdate />
					<script type="text/javascript">
                        $(document).ready(scrollSysMsgBottom());
                    </script>
					<p:scrollPanel
						mode="native"
						style="height:500px; max-width: 300px; border:none;">
						<p:outputLabel
							value="#{userMBean.msgBySysMsg}"
							escape="false"
							style="word-wrap: break-word;word-break: normal;" />
					</p:scrollPanel>
				</p:outputPanel>
				<p:panelGrid
					columns="5"
					id="reqSysMsgMemberInputPanelId">
					<p:focus for="@next" />
					<p:inputText
						value="#{userMsgMBean.inputReplySysMsg}"
						onkeydown="executeScriptByEnter(event, 'keyEnterBySendMsgToSys();');" />
					<p:remoteCommand
						name="keyEnterBySendMsgToSys"
						process="reqSysMsgMemberInputPanelId"
						actionListener="#{userMsgMBean.sendMsgToSys()}"
						update="reqSysMsgMemberInputPanelId" />
					<p:commandButton
						icon="fa fa-comment-o"
						onclick="keyEnterBySendMsgToSys();" />
					<p:commandButton
						icon="fa fa-trash"
						process="@this"
						actionListener="#{userMsgMBean.clearMsgBySysMsg()}" />
				</p:panelGrid>
			</p:dialog>
			<!-- 系統訊息 - 客戶端檢查是否有新訊息(間隔六十秒檢查一次新訊息) -->
			<p:poll
				interval="1"
				listener="#{userMsgMBean.checkSysInfoMsg()}"
				stop="#{userMsgMBean.getStopOnlineMsgSys()}"
				autoStart="#{!userMsgMBean.getStopOnlineMsgSys()}" />

			<p:ajaxStatus oncomplete="reEditor();reThemeＷidth();" />
			<p:growl
				id="growlmsg"
				showDetail="true"
				globalOnly="true" />
			<ui:insert name="menubar"></ui:insert>
			<ui:insert name="addAjaxStatus"></ui:insert>
			<ui:insert name="content"></ui:insert>

			<p:dialog
				showHeader="false"
				widgetVar="dlgLoading"
				modal="true"
				closable="false"
				resizable="fasle"
				draggable="false"
				onShow="onShowTime();"
				onHide="onHidTime();"
				style="border:none;background:transparent;box-shadow:none;">
				<p:graphicImage value="../img/ajax-loader.gif" />
				<br />
				<span
					id="stopwatch"
					style="background: blue; color: white;">00:00:00</span>
			</p:dialog>
			<p:confirmDialog
				id="confimDlgTemplate"
				widgetVar="confimDlgTemplate"
				closable="false"
				header="#{confirmDlgMBean.dlgConfirm.title}">
				<p:hotkey
					bind="esc"
					onstart="PF('confimDlgTemplate').hide()" />
				<p:hotkey
					bind="return"
					onstart="PF('confimDlgTemplate').hide()" />
				<f:facet name="message">
					<p:outputPanel id="countDownDisplay" />
					<h:outputText
						value="#{confirmDlgMBean.dlgConfirm.message}"
						escape="false" />
				</f:facet>
				<p:commandButton
					id="confimDlgTemplateSucessId"
					value="確認"
					type="button"
					onclick="PF('confimDlgTemplate').hide()"
					onkeydown="enterToCloseConfirmDlg(event);" />
			</p:confirmDialog>
		</h:form>
		<script type="text/javascript">
            jQuery(document).ready(function () {
                Example1.resetStopwatch();
                refreshHtmlTitle();
                reThemeＷidth();
            });

            //將parent的title替換為frame的title
            function refreshHtmlTitle() {
                if (checkIframe()) {
                    //主要處理其它頁面使用openDialog時將title蓋掉
                    //var htmlTitle = document.title;
                    //if (htmlTitle === "群組設定作業-分派") {
                    //    return;
                    //}
                    parent.document.title = document.title;
                }
            }

            //判斷是否按下Enter按鈕，如果是則觸發function
            function executeScriptByEnter(event, scriptName) {
                if (checkEnter(event)) {
                    var jsMethod = new Function(scriptName);
                    jsMethod();
                }
            }

            //更新display屬性
            function updateDisplay(id, value) {
                $('#' + id).css({'display': value});
            }
        </script>

		<script type="text/javascript">
            function enterToCloseConfirmDlg(event) {
                if (checkEnter(event)) {
                    PF('confimDlgTemplate').hide();
                }
            }

            //開啟遲延dlg
            function showLoad() {
                showPF('dlgLoading');
//                showPF('formTemplateBlockWv')
//                showPF('notifyLoadWv');
                onShowTime();
            }

            //關閉遲延dlg
            function hideLoad() {
                hidePF('dlgLoading');
//                hidePF('formTemplateBlockWv')
//                hidePF('notifyLoadWv');
                onHidTime();
            }

            function onShowTime() {
                Example1.resetStopwatch();
                Example1.Timer.toggle();
            }

            function onHidTime() {
                Example1.resetStopwatch();
            }

            //調整主題寬度
            function reThemeＷidth() {
                if ($("#dtRequire").length > 0) {
                    var exceptionThemes = ["送測主題", "ON程式主題", "設定主題", "單據主題"];
                    var hasExcepTheme = false;
                    var handlerTheme = "主題";
                    var isTooSmall = false;
                    //比對例外主題
                    $("#dtRequire_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            var themeTxt = $.trim($(this).text());
                            hasExcepTheme = exceptionThemes.indexOf(themeTxt) !== -1;
                            if (hasExcepTheme) {
                                isTooSmall = 100 > $(this).width() * 1;
                                handlerTheme = themeTxt;
                                if (isTooSmall) {
                                    $(this).width(100);
                                }
                                return false;
                            }
                        }
                    });
                    //不包含例外主題時比對一般主題
                    if (!hasExcepTheme) {
                        $("#dtRequire_head th").each(function () {
                            if ($(this).css("display") !== 'none') {
                                var themeTxt = $.trim($(this).text());
                                if (themeTxt === handlerTheme) {
                                    isTooSmall = 100 > $(this).width() * 1;
                                    if (isTooSmall) {
                                        $(this).width(100);
                                    }
                                    return false;
                                }
                            }
                        });
                    }

                    if (isTooSmall) {
                        showThemeＷidth(handlerTheme);
                    }
                }
            }

            //調整主題寬度
            function showThemeＷidth(handlerTheme) {
                $("#dtRequire .ui-datatable-scrollable-theadclone tr").children().each(function () {
                    if ($(this).css("display") !== 'none') {
                        if ($.trim($(this).text()) === handlerTheme) {
                            $(this).width(100);
                        }
                    }
                });
            }
        </script>
	</ui:define>

</ui:composition>