<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="../template/template.xhtml">

    <ui:define name="__form">
        <style>
            .reqClz {
                background: #EEFFBB;
            }

            .continueClz {
                background: #FFB7DD;
            }

            .execContinueClz {
                background: #99FFFF;
            }

            .execClz {
                background: #99FF99;
            }

            .width-percent-50dot0 {
                width: 50.0%;
                background: #9A7061;
            }

            .width-percent-13dot3 {
                width: 13.3%;
                background: #9A7061;
            }

            .width-percent-20dot0 {
                width: 20.0%;
                background: #9A7061;
            }

            .width-percent-33dot4 {
                width: 33.4%;
                background: #9A7061;
            }

            .width-percent-48dot4 {
                width: 48.4%;
                background: #9A7061;
            }

            /*讓過長溢出的字省略變 ...(outputLabel )*/
            .outputLabelEllipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: pre;
                display: block;
            }

            /*讓過長溢出的字省略變 ...(outputText)*/
            .outputTextEllipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: pre;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .width95 {
                width: 95%;
            }

            .width5 {
                width: 5%;
            }

            .ui-chkbox-icon .ui-chkbox .ui-widget .ui-selection {
                cursor: not-allowed !important;
                pointer-events: none !important;
            }
        </style>
        <h:form id="formTemplate" prependId="false">
            <p:ajaxStatus oncomplete="reEditor();"/>
            <ui:include src="session_time_out.xhtml"/>
            <ui:insert name="content">
                <ui:include src="/blankContect.xhtml"/>
            </ui:insert>
            <!-- 公用 dialog -->
			<ui:include src="templeteCommonDialog.xhtml"/>
        </h:form>
        <script type="text/javascript" charset="utf-8"
                src="../js/refreshDtScrollHeight.js"></script>
        <script type="text/javascript">

            jQuery(document).ready(function () {
                refreshHtmlTitle();
            });

            //將parent的title替換為frame的title
            function refreshHtmlTitle() {
                if (checkIframe()) {
                    //主要處理其它頁面使用openDialog時將title蓋掉
                    //var htmlTitle = document.title;
                    //if (htmlTitle === "群組設定作業-分派") {
                    //    return;
                    //}
                    parent.document.title = document.title;
                }
            }

            function checkIframe() {
                if (self !== top) {
                    return true;
                }
                return false;
            }

            //判斷是否按下Enter按鈕，如果是則觸發function
            function executeScriptByEnter(event, scriptName) {
                if (checkEnter(event)) {
                    var jsMethod = new Function(scriptName);
                    jsMethod();
                }
            }

            //判斷是否按下Enter按鈕
            function checkEnter(event) {
                if (event.keyCode === 13) {
                    return true;
                }
                return false;
            }

            //選取dataTable row
            function selectRow(obj, rowIndex) {
                if (checkWidgets(obj)) {
                    PF(obj).unselectAllRows();
                    PF(obj).selectRow(rowIndex, false);
                }
            }

            //檢查widgets是否存在
            function checkWidgets(obj) {
                if (PrimeFaces.widgets[obj]) {
                    return true;
                }
                return false;
            }

            var winMap = {};

            //開啟視窗(以防連續開啟)
            function openWinByStore(key) {
                var tabWin = window.open('', '_blank');
                winMap[key] = tabWin;
            }

            //替換URl(以防連續開啟)
            function replaceUrlByStore(key, url) {
                var tabWin = winMap[key];
                tabWin.location = url;
                delete winMap[key];
            }

            function showLoad() {
                PF('dlgLoading').show();
            }

            function hideLoad() {
                PF('dlgLoading').hide();
            }
        </script>
    </ui:define>

</ui:composition>
