<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">

<!--memoHeaderComponent 外部參數-->
<p:panel id="screen_view_header">
    <p:panelGrid styleClass="width100">
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="部門："/>
            </p:column>
            <p:column colspan="">
                <p:outputLabel value="#{memoHeaderComponent.depName}"
                               styleClass="reportTypeColor"/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="填寫人員："/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="#{memoHeaderComponent.createUserName}"
                               styleClass="reportTypeColor"/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="填寫日期："/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="#{memoHeaderComponent.createDate}"
                               styleClass="reportTypeColor"/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="單號："
                               rendered="#{not empty memoHeaderComponent.no}"/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="#{memoHeaderComponent.no}"
                               rendered="#{not empty memoHeaderComponent.no}"
                               styleClass="reportTypeColor"/>
            </p:column>
        </p:row>
    </p:panelGrid>
</p:panel>


</html>
