<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<p:panelGrid id="screen_view_attachemt"
             columns="2">
    <h:panelGroup>
        <h:outputText value="附加檔案："/>
    </h:panelGroup>
    <p:outputPanel id="attachemtUploadPanel">
        <p:commandButton value="附加檔案"
                         onstart="showLoad();"
                         update="@this @(.attachmentUploadDlgClazz)"
                         process="@this"
                         oncomplete="PF('dlgUploadWv').show();hideLoad();"
        />
        <cp:attachmentUpload model="#{memoAttachemtComponent}" process="attachemtViewPanel"
                             uploadDialogWv="dlgUploadWv" uploadDialogId="dlgUploadId"
                             update="attachemtViewPanel">

        </cp:attachmentUpload>
    </p:outputPanel>
</p:panelGrid>

<p:outputPanel id="attachemtViewPanel">
    <cp:attachmentView model="#{memoAttachemtComponent}"></cp:attachmentView>
</p:outputPanel>

</html>
