<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui">

<p:outputPanel>
	<script type="text/javascript">
    function checkIframe() {
        if (self !== top) {
            return true;
        }
        return false;
    }

    //只變更URL不重新導向
    function replaceUrlNotNavigation(url) {
        window.history.replaceState({}, '', url);
    }

    function doReloadDataToUpdate(obj) {
        try {
            if (checkIframe()) {
                parent.doReloadDataToUpdate(obj);
            } else if (window.opener) {
                window.opener.doReloadDataToUpdate(obj);
            }
        } catch (err) {
            // no method
        }

    }

    function doPreviousBtn() {
        try {
            if (checkIframe()) {
                parent.openerByBtnUp();
            } else if (window.opener) {
                window.opener.openerByBtnUp();
            }
        } catch (err) {
            // no method
        }
    }

    function doNextBtn() {
        try {
            if (checkIframe()) {
                parent.openerByBtnDown();
            } else if (window.opener) {
                window.opener.openerByBtnDown();
            }
        } catch (err) {
            // no method
        }
    }

    function backToList() {
        try {
            if (checkIframe()) {
                parent.closeIframe();
            } else {
                window.opener.closeIframe();
            }
        } catch (err) {
            // no method
        }
    }
</script>
</p:outputPanel>

<!--memoBtnComponent 外部參數-->
<p:outputPanel id="screen_view_btn">
	<p:panelGrid
		id="title_info_click_btn_id"
		columns="3"
		style="height:42px;width: 100%;"
		columnClasses="width-percent-50dot0, width-percent-20dot0, width-percent-33dot4">
		<p:column>
			<p:commandButton
				value="編輯"
				rendered="#{memoBtnComponent.showBtnEdit}"
				actionListener="#{memoBtnComponent.clickEditBtn()}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				update="screen_view"
				process="@this" />
			<p:commandButton
				value="附加檔案"
				rendered="#{memoBtnComponent.showBtnAtt}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				update="@this @(.attachmentUploadDlgClazz)"
				actionListener="#{memoBtnComponent.clickAttBtn()}"
				process="@this" />
			<p:commandButton
				value="轉工作聯絡單"
				rendered="#{memoBtnComponent.showBtnTransConnect}"
				actionListener="#{memoBtnComponent.clickTransBtn()}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
			<p:commandButton
				value="確定"
				rendered="#{memoBtnComponent.showBtnSubmite}"
				actionListener="#{memoBtnComponent.clickSubmiteBtn()}"
				onclick="showLoad();"
				onstart="saveHTML('screen_view_data_content_wv');
                                         saveHTML('screen_view_data_memo_wv');"
				oncomplete="hideLoad();"
				process="@this screen_view_data" />
			<p:commandButton
				value="取消"
				rendered="#{memoBtnComponent.showBtnCancel}"
				actionListener="#{memoBtnComponent.clickCancelBtn()}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				update="screen_view"
				process="@this" />
			<p:commandButton
				value="上一筆"
				onclick="showLoad();"
				onstart="doPreviousBtn();"
				oncomplete="hideLoad();"
				rendered="#{memoBtnComponent.showBtnUp}"
				actionListener="#{memoBtnComponent.clickUp()}"
				process="@this" />
			<p:commandButton
				value="下一筆"
				onclick="showLoad();"
				onstart="doNextBtn();"
				oncomplete="hideLoad();"
				rendered="#{memoBtnComponent.showBtnDown}"
				actionListener="#{memoBtnComponent.clickDown()}"
				process="@this" />
			<p:commandButton
				value="回首頁"
				rendered="#{memoBtnComponent.showBtnBackList}"
				onclick="showLoad();"
				onstart="backToList();"
				oncomplete="hideLoad();"
				process="@this" />
		</p:column>
		<p:column></p:column>
		<p:column></p:column>
	</p:panelGrid>
</p:outputPanel>
</html>
