<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="備忘錄"/>
    </ui:define>
    <ui:define name="content">
        <p:outputPanel id="screen_view">
            <ui:include src="../components/memo/memo_btn.xhtml">
                <ui:param name="memoBtnComponent"
                          value="#{worp4Bean.memoMaintainComponent.memoBtnComponent}"/>
            </ui:include>
            <p:scrollPanel mode="native" id="scrollPanelID">
                <ui:include src="../components/memo/memo_header.xhtml">
                    <ui:param name="memoHeaderComponent"
                              value="#{worp4Bean.memoMaintainComponent.memoHeaderComponent}"/>
                </ui:include>
                <ui:include src="../components/memo/memo_data.xhtml">
                    <ui:param name="memoDataComponent"
                              value="#{worp4Bean.memoMaintainComponent.memoDataComponent}"/>
                </ui:include>
                <ui:include src="../components/memo/memo_lock.xhtml">
                    <ui:param name="memoLockComponent"
                              value="#{worp4Bean.memoMaintainComponent.memoLockComponent}"/>
                </ui:include>
                <!-- TAB -->
                <p:outputPanel id="viewPanelBottomInfoTabId">
                    <p:tabView style="border:none"
                               rendered="#{worp4Bean.memoMaintainComponent.showBottomInfoTab}"
                               activeIndex="#{worp4Bean.memoMaintainComponent.tabIndex}"
                               widgetVar="viewPanelBottomInfoTab" id="viewPanelBottomInfoTabInId"
                               dynamic="true" effect="slide" effectDuration="fast">
                        <p:tab title="附加檔案" id="att_tab_id"
                               rendered="#{worp4Bean.memoMaintainComponent.wcMemoAttachMaintainCompant.showAttTab}">
                            <cp:memoAttachmentMaintain
                                    model="#{worp4Bean.memoMaintainComponent.wcMemoAttachMaintainCompant}"
                                    wcStatusDeleteOrInvail="false"/>
                        </p:tab>
                        <p:tab id="trace_tab_id"
                               titleStyle="height:28px;"
                               rendered="#{worp4Bean.memoMaintainComponent.wcMemoTraceComponent.showTraceTab}">
                            <f:facet name="title">
                                <p:outputPanel style="display: inline-flex;">
                                    <p:outputLabel styleClass="ui-icon ui-icon-plusthick"
                                                   onclick="openAllTab('viewPanelBottomInfoTabInId', 'wc_trace_tab_wv', 'wc_trace_tab_id');"/>
                                    <p:outputLabel styleClass="ui-icon ui-icon-minusthick"
                                                   onclick="closeAllTab('viewPanelBottomInfoTabInId', 'wc_trace_tab_wv', 'wc_trace_tab_id');"/>
                                    <p:outputLabel value="追蹤"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:scrollPanel mode="native">
                                <p:panel style="border:none">
                                    <p:accordionPanel widgetVar="wc_trace_tab_wv"
                                                      id="wc_trace_tab_id"
                                                      value="#{worp4Bean.memoMaintainComponent.wcMemoTraceComponent.memoTraceVOs}"
                                                      var="trace" activeIndex="0"
                                                      multiple="true">
                                        <p:tab>
                                            <f:facet name="title">
                                                <p:outputLabel value="#{trace.userInfo}"
                                                               style="font-weight: bold"/>&nbsp;
                                                <h:outputText value="#{trace.time}"
                                                              style="font-weight: bold">
                                                </h:outputText>

                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <p:outputLabel value="#{trace.traceType}"/>
                                            </f:facet>
                                            <p:outputLabel value="#{trace.content}"
                                                           style="white-space: pre;"
                                                           escape="false"
                                            />
                                        </p:tab>
                                    </p:accordionPanel>
                                </p:panel>
                            </p:scrollPanel>
                        </p:tab>
                    </p:tabView>
                </p:outputPanel>
            </p:scrollPanel>
        </p:outputPanel>

        <cp:attachmentUpload uploadDialogWv="dlgUploadWv" uploadDialogId="dlgUploadId"
                             model="#{worp4Bean.memoMaintainComponent.memoAttachemtComponent}"
                             update="viewPanelBottomInfoTabId ">
        </cp:attachmentUpload>

        <p:dialog header="確認" widgetVar="attach_del_confirm_wv" id="attach_del_confirm_id"
                  modal="true" resizable="false">
            <p:panelGrid columns="1">
                <h:outputText escape="false"
                              value="是否刪除此附件(#{worp4Bean.memoMaintainComponent.wcMemoAttachMaintainCompant.selDelAtt.attName})"/>
            </p:panelGrid>
            <p:panelGrid columns="2">
                <p:commandButton value="確定"
                                 onstart="showLoad();"
                                 process="@this"
                                 actionListener="#{worp4Bean.memoMaintainComponent.wcMemoAttachMaintainCompant.deleteAtt()}"
                                 oncomplete="hideLoad();PF('attach_del_confirm_wv').hide()"
                />
                <p:commandButton value="取消" oncomplete="PF('attach_del_confirm_wv').hide();"
                                 process="@this"/>
            </p:panelGrid>
        </p:dialog>

        <p:confirmDialog id="dlg_errorMessage"
                         widgetVar="dlg_errorMessage_wv">
            <f:facet name="message">
                <h:outputText value="#{worp4Bean.errorMessage}"
                              escape="false"/>
            </f:facet>
            <p:commandButton value="確認"
                             onclick="PF('dlg_errorMessage_wv').hide();"
                             type="button"/>
        </p:confirmDialog>

        <p:dialog header="單據挑選" widgetVar="transDlg" modal="true" position="top" resizable="false">
            <p:scrollPanel style="border:none;height: 100%; width: 400px;" mode="native"
                           id="transDlgPanel">
                <ui:include src="../components/category_tree.xhtml">
                    <ui:param name="componentId"
                              value="categoryTree"/>
                    <ui:param name="categoryTreeComponent"
                              value="#{worp4Bean.memoMaintainComponent.categoryTreeComponent}"/>
                </ui:include>
            </p:scrollPanel>
            <p:panelGrid columns="2">
                <p:commandButton value="確定" onstart="showLoad();"
                                 oncomplete="hideLoad();"
                                 process="@this"
                                 actionListener="#{worp4Bean.memoMaintainComponent.clickToTransWorkConnect()}"

                />
                <p:commandButton value="取消" onclick="PF('transDlg').hide();" process="@this"/>
            </p:panelGrid>
        </p:dialog>
        <!--提示訊息-->
        <p:confirmDialog id="confimDlgTrans"
                         widgetVar="confimDlgTrans">
            <f:facet name="message">
                <h:outputText value="此單據已轉過工作聯絡單，請問是否再次進行轉入？"
                              escape="false"/>
            </f:facet>
            <p:panelGrid columns="2">
                <p:commandButton value="確定" onstart="showLoad();"
                                 oncomplete="hideLoad();"
                                 process="@this"
                                 actionListener="#{worp4Bean.memoMaintainComponent.doClickToTransWorkConnect()}"/>
                <p:commandButton value="取消" onclick="PF('confimDlgTrans').hide();" process="@this"/>
            </p:panelGrid>
        </p:confirmDialog>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                $("#scrollPanelID").css('height',
                    $(window).height() - $("#screen_view_btn").height() - 20);
            });

        </script>
    </ui:define>

</ui:composition>
