<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:tab
	id="trace_tab_id"
	titleStyle="height:28px;"
	rendered="#{worp2Bean.workReportViewComponent.workReportTraceComponent.showTraceTab}">
	<f:facet name="title">
		<p:outputPanel style="display: inline-flex;">
			<p:outputLabel
				styleClass="ui-icon ui-icon-plusthick"
				onclick="openAllTab('viewPanelBottomInfoTabInId', 'wc_trace_tab_wv', 'wc_trace_tab_id');" />
			<p:outputLabel
				styleClass="ui-icon ui-icon-minusthick"
				onclick="closeAllTab('viewPanelBottomInfoTabInId', 'wc_trace_tab_wv', 'wc_trace_tab_id');" />
			<p:outputLabel value="追蹤" />
		</p:outputPanel>
	</f:facet>
	<p:scrollPanel mode="native">
		<p:panel style="border:none">
			<p:accordionPanel
				widgetVar="wc_trace_tab_wv"
				id="wc_trace_tab_id"
				value="#{worp2Bean.workReportViewComponent.workReportTraceComponent.wcTraceVO}"
				var="trace"
				activeIndex="0"
				multiple="true">
				<p:tab>
					<f:facet name="title">
						<p:outputLabel
							value="#{trace.userInfo}"
							style="font-weight: bold" />
						&nbsp;
                        <h:outputText
							value="#{trace.time}"
							style="font-weight: bold"/>						
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <p:outputLabel value="#{trace.traceType}" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <p:commandButton
							icon="fa fa-comments-o"
							class="btnAccPanelIcon"
							title="回覆"
							onstart="showLoad();"
							process="@this"
							onsuccess="PF('wc_trace_tab_wv').select('#{trace.index}');"
							rendered="#{trace.showReplyBtn}"
							actionListener="#{worp2Bean.workReportViewComponent.openAgainReply(trace.sid)}"
							oncomplete="hideLoad();" />
					</f:facet>
					<p:outputLabel
						value="#{(isAdminMode and trace.traceType eq '回覆')?'-遮蔽-':trace.content}"
						style="white-space: pre;"
						escape="false" />

				</p:tab>
			</p:accordionPanel>
		</p:panel>
	</p:scrollPanel>
</p:tab>
</html>

