<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:tab
	title="可閱人員"
	rendered="#{worp2Bean.workReportViewComponent.viewPersonComponent.showViewPersonTab}">
	<h:outputText value="　" />
	<p:dataTable
		value="#{worp2Bean.workReportViewComponent.viewPersonComponent.viewPersonVO}"
		rowIndexVar="index"
		var="readReceipt"
		rowKey="#{readReceipt.sid}"
		paginator="true"
		rows="10"
		resizableColumns="false">
		<p:column
			headerText="序"
			width="10">
			<h:outputText value="#{index+1}" />
		</p:column>
		<p:column
			headerText="部門"
			filterBy="#{readReceipt.departmentName}"
			filterMatchMode="contains">
			<h:outputText value="#{readReceipt.departmentName}" />
		</p:column>
		<p:column
			headerText="使用者暱稱"
			filterBy="#{readReceipt.name}"
			filterMatchMode="contains">
			<h:outputText value="#{readReceipt.name}" />
		</p:column>
		<p:column headerText="閱讀狀態">
			<h:outputText
				value="#{readReceipt.readStatus}"
				style="#{readReceipt.readStatusCss}" />
		</p:column>
	</p:dataTable>
</p:tab>
</html>

