<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProject.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{sessionTimerBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="工作聯絡單" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
			function checkIframe() {
				if (self !== top) {
					return true;
				}
				return false;
			}

			//讀取單據(重新導向)
			function loadConnect(sid) {
				try {
					if (checkIframe()) {
						parent.loadConnect(sid);
					} else {
						reloadToFull(sid)
					}
				} catch (err) {
					reloadToFull(sid)
				}
			}

			function reloadToFull(sid) {
				try {
					window.location.href = "worp_full.xhtml?wrcId=" + sid;
				} catch (err) {

				}
			}
		</script>
		<p:outputPanel id="workReportHeaderPanel">
			<cp:workReportHeader
				model="#{worp1Bean.workReportHeaderComponent}"
				edit="#{worp1Bean.edit}"
				editing="#{worp1Bean.edit}"
				isAddMode="#{true}">
			</cp:workReportHeader>
		</p:outputPanel>

		<p:outputPanel id="category_items_panel_id">
			<ui:include src="../components/category_items.xhtml">
				<ui:param
					name="componentId"
					value="categoryItems" />
				<ui:param
					name="categoryItemComponent"
					value="#{worp1Bean.categoryItemComponent}" />
			</ui:include>
		</p:outputPanel>

		<p:outputPanel id="legitimate_range_panel_id">
			<ui:include src="../components/legitimate_range.xhtml">
				<ui:param
					name="legitimateRangeComponents"
					value="#{worp1Bean.categoryItemComponent.legitimateRangeComponents}" />
			</ui:include>
		</p:outputPanel>

		<p:outputPanel id="start_end_panel_id">
			<ui:include src="../components/start_end.xhtml">
				<ui:param
					name="startEndComponents"
					value="#{worp1Bean.categoryItemComponent.startEndComponents}" />
			</ui:include>
		</p:outputPanel>

		<p:outputPanel id="workReportDataPanel">
			<cp:workReportData
				model="#{worp1Bean.workReportDataComponent}"
				isCreate="#{true}"
				modelSignInfo="#{worp1Bean.signInfoMemberCallBack}"
				showReqAddSignBtn="true"
				showExecAddSignBtn="false"
				edit="#{worp1Bean.edit}"
				process="workReportHeaderPanel">
			</cp:workReportData>
			<h:panelGrid columns="2">
				<h:panelGroup>
					<h:outputText
						value="會簽資訊："
						style="text-align:center; " />&nbsp;&nbsp;
                </h:panelGroup>
				<h:panelGrid columns="2">
					<p:dataTable
						id="table_sign_role_data"
						style="width: 835px;"
						var="signRole"
						value="#{worp1Bean.workReportDataComponent.signRoleInfos}"
						rowKey="#{signRole.groupId},#{signRole.signUserId}"
						selectionMode="single"
						scrollable="true"
						disabledSelection="true">
						<p:column
							headerText="會簽者"
							style="width: 200px">
							<h:outputText
								value="#{signRole.userName}"
								id="table_sign_user_name" />
							<p:tooltip
								for="table_sign_user_name"
								value="#{signRole.userName}"
								trackMouse="true"
								escape="false" />
						</p:column>
						<p:column headerText="意見說明">
							<p:outputLabel
								value="#{signRole.comment}"
								id="table_sign_role_comment" />
							<p:tooltip
								for="table_sign_role_comment"
								value="#{signRole.commentAll}"
								trackMouse="true"
								escape="false" />
						</p:column>
					</p:dataTable>

					<p:commandButton
						value="選會簽"
						rendered="true"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						actionListener="#{worp1Bean.signInfoMemberCallBack.openReqSignInfo()}"
						process="@this workReportDataPanel workReportHeaderPanel">
					</p:commandButton>
				</h:panelGrid>
			</h:panelGrid>
		</p:outputPanel>

		<p:panelGrid columns="2">
			<h:panelGroup>
				<h:outputText value="附加檔案：" />
			</h:panelGroup>
			<p:outputPanel id="attachemtUploadPanel">
				<p:commandButton
					value="附加檔案"
					onstart="showLoad();"
					process="@this"
					update="@this @(.attachmentUploadDlgClazz)"
					oncomplete="PF('dlgUploadWv').show();hideLoad();" />
				<cp:attachmentUpload
					model="#{worp1Bean.wpAttachmentCompant}"
					process="attachemtViewPanel"
					uploadDialogWv="dlgUploadWv"
					uploadDialogId="dlgUploadId"
					update="attachemtViewPanel">

				</cp:attachmentUpload>
			</p:outputPanel>
		</p:panelGrid>

		<p:outputPanel id="attachemtViewPanel">
			<cp:attachmentView model="#{worp1Bean.wpAttachmentCompant}"></cp:attachmentView>
		</p:outputPanel>

		<p:commandButton
			value="確認"
			actionListener="#{worp1Bean.beforeCreateConfirm()}"
			onclick="showLoad();"
			onstart="saveHTML('workReportData_content');saveHTML('workReportData_remark');"
			update="@this"
			process="@this workReportDataPanel workReportHeaderPanel 
                         category_items_panel_id attachemtViewPanel start_end_panel_id legitimate_range_panel_id" />


		<p:commandButton
			value="取消"
			onclick="window.location.reload();"
			process="@this"
			type="button" />


		<p:dialog
			header="訊息確認視窗"
			widgetVar="#{worp1Bean.CREATE_CONFIRM_DLG_ID}"
			modal="true"
			position="center-200 center-200"
			resizable="false"
			closeOnEscape="true">
			<div style="display: flex; justify-content: space-around; flex-direction: column">
				<div style="display: flex; justify-content: center">是否一併執行存檔及簽名？</div>
				<div style="height: 5px"></div>
				<div style="width: 180px; display: flex; justify-content: space-around;">

					<p:commandButton
						value="存檔並簽名"
						actionListener="#{worp1Bean.createConfirm(true)}"
						onclick="showLoad();hidePF(#{worp1Bean.CREATE_CONFIRM_DLG_ID});"
						update="@this"
						process="@this workReportDataPanel workReportHeaderPanel 
                         category_items_panel_id attachemtViewPanel start_end_panel_id legitimate_range_panel_id" />

					<p:commandButton
						value="僅存檔"
						actionListener="#{worp1Bean.createConfirm(false)}"
						onclick="showLoad();hidePF(#{worp1Bean.CREATE_CONFIRM_DLG_ID});"
						update="@this"
						process="@this workReportDataPanel workReportHeaderPanel 
                         category_items_panel_id attachemtViewPanel start_end_panel_id legitimate_range_panel_id" />

				</div>
			</div>
		</p:dialog>

		<p:dialog
			header="會簽"
			widgetVar="reqCounterSignDlg"
			modal="true">
			<p:outputPanel id="reqCounterSignPanel">
				<cp:reqManagerSignView model="#{worp1Bean.managerSignInfoMemberComponent}">
					<f:actionListener
						for="actionEvent"
						binding="#{worp1Bean.managerSignInfoMemberComponent.saveReqCounterSignUser()}" />
					<f:actionListener
						for="actionOrgEvent"
						binding="#{worp1Bean.loadDepTree()}" />
				</cp:reqManagerSignView>
			</p:outputPanel>
		</p:dialog>


		<p:dialog
			header="部門"
			widgetVar="deptUnitDlg"
			modal="true"
			resizable="false">
			<p:outputPanel id="dep">
				<cp:depTree
					model="#{worp1Bean.depTreeManager}"
					dlgName="deptUnitDlg"
					btnShow="true">
					<f:actionListener
						for="actionEvent"
						binding="#{worp1Bean.doSelectOrg()}" />
				</cp:depTree>
			</p:outputPanel>
		</p:dialog>
	</ui:define>

</ui:composition>
