<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:tab
	title="簽核進度"
	rendered="#{worp2Bean.workReportViewComponent.bpmComponent.bpmVo.showTab}">
	<p:dataTable
		id="table_sign_role"
		class="table_sign_role_class"
		value="#{worp2Bean.workReportViewComponent.bpmComponent.signRoles}"
		var="signRole"
		rowKey="#{signRole.groupId},#{signRole.signUserId}"
		selection="#{worp2Bean.workReportViewComponent.bpmComponent.selSignRole}"
		selectionMode="single"
		scrollable="true"
		scrollHeight="300"
		disabledSelection="true"
		rowStyleClass="#{signRole.clz}">
		<p:column
			headerText="簽核角色"
			style="width: 100px">
			<h:outputText value="#{signRole.roleName}" />
		</p:column>
		<p:column
			headerText="單位(主管/成員)"
			style="width: 200px">
			<h:outputText
				value="#{signRole.deptName}"
				id="table_sign_role_name" />
			<p:tooltip
				for="table_sign_role_name"
				value="#{signRole.deptName}"
				trackMouse="true"
				escape="false" />
		</p:column>
		<p:column
			headerText="暱稱"
			style="width: 200px">
			<h:outputText
				value="#{signRole.userName}"
				id="table_sign_user_name" />
			<p:tooltip
				for="table_sign_user_name"
				value="#{signRole.userName}"
				trackMouse="true"
				escape="false" />
		</p:column>
		<p:column
			headerText="簽核時間"
			style="width: 150px">
			<h:outputText value="#{signRole.signDate}" />
		</p:column>
		<p:column headerText="意見說明">
			<h:outputText
				rendered="#{isAdminMode}"
				value="#{(not empty signRole.comment)?'-遮罩-':''}" />
			<p:outputLabel
				rendered="#{not isAdminMode}"
				value="#{signRole.comment}"
				id="table_sign_role_comment"
				escape="false" />
			<h:outputText
				rendered="#{not isAdminMode}"
				value="#{signRole.commentRollBackOrInvail}"
				id="table_sign_role_commentRollBackOrInvail"
				escape="false" />
			<p:tooltip
				rendered="#{not isAdminMode}"
				for="table_sign_role_comment"
				value="#{signRole.commentAll}"
				trackMouse="true"
				escape="false" />
			<p:tooltip
				rendered="#{not isAdminMode}"
				for="table_sign_role_commentRollBackOrInvail"
				value="#{signRole.commentAll}"
				trackMouse="true"
				escape="false" />
		</p:column>
	</p:dataTable>
</p:tab>
</html>

