<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:tab
	title="回覆"
	rendered="#{worp2Bean.workReportViewComponent.execReplyComponent.showTab}">
	<h:outputText value="　" />
	<p:dataTable
		id="execReplyTab_id"
		widgetVar="execReplyTab_wv"
		value="#{worp2Bean.workReportViewComponent.execReplyComponent.execReplyTos}"
		rowKey="#{reply.sid}"
		var="reply"
		rowIndexVar="index">
		<p:column
			headerText="序"
			width="10">
			<h:outputText value="#{index+1}" />
		</p:column>
		<p:column
			headerText="回覆人員"
			filterBy="#{reply.exceUserName}"
			filterMatchMode="contains"
			width="150">
			<h:outputText value="#{reply.exceUserName}" />
		</p:column>
		<p:column
			headerText="回覆時間"
			width="115">
			<h:outputText value="#{reply.updateDate}" />
		</p:column>
		<p:column headerText="回覆資訊">
			<p:panelGrid
				columns="2"
				columnClasses="width95,width5">
				<p:outputLabel
					id="execReplyTab_content_id"
					value="#{isAdminMode?'-遮蔽-':reply.content}"
					styleClass="colNormal breakAll"
					escape="false" />
				<p:commandButton
					icon="fa fa-pencil"
					title="編輯"
					rendered="#{reply.showEdit}"
					actionListener="#{worp2Bean.workReportViewComponent.loadReply(reply.sid,'wc_replytrace_tab_wv')}"
					process="@this"
					style=" float:right;" />
			</p:panelGrid>
		</p:column>
	</p:dataTable>
</p:tab>
</html>

