@charset "UTF-8";

* {
    /*margin: 0px;*/
    /*padding: 0px;*/

}

body {
    font: 70% Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 6px 3px;
}

textArea {
    font: 70% Arial, Helvetica, Verdana, sans-serif;
}

a img {
    border: none;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(203, 204, 204, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(203, 204, 204, 0.4);
}

.ui-tabs-left > .ui-tabs-nav {
    width: 15%;
}

.ui-tabs-left > .ui-tabs-panels {
    float: left;
    width: 85%;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

.ui-panel .ui-panel-content {
    padding: 0.5em;
}

.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c {
    padding: 4px;
}

.ui-toolbar, .ui-scrollpanel, .ui-layout-unit-header, .ui-tabs-nav {
    border-radius: 4px;
}

.ui-datatable-header {
    border-radius: 4px 4px 0px 0px;
}

.ui-paginator-bottom {
    border-radius: 0px 0px 4px 4px;
}

.ui-state-default {
    border-radius: 3px;
}

.ui-layout-resizer {
    border-radius: 0px 4px 4px 0px;
}

.ui-layout-resizer .ui-state-default {
    border: none;
    background: transparent;
}

#form\:tabs {
    width: 99%;
}

#form\:tabs div {
    /*margin-bottom: 10px;*/

}

#form\:tabs div table td {
    padding: 5px;
}

/* 取消 layout 的邊框 */
.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-panelgrid tr, .ui-panelgrid td {
    border: none;
}

.ui-datatable .ui-datatable-footer {
    text-align: left;
}

.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;
}

/*使用outputLabel或commandLink不會因為連續空白導致被省略*/
.ui-outputlabel, .ui-commandlink {
    white-space: pre;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-datalist-item {
    padding-right: 30px;
}

.DataTable2 table > thead > tr > th, .DataTable2 table > tbody, .DataTable2 table > tbody > tr, .DataTable2 table > tbody > tr > td {
    background-color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.colNowrap {
    white-space: nowrap;
}

.colNormal {
    white-space: normal !important;
}

.colPre {
    white-space: pre !important;
}

.alignCenter {
    float: none;
    text-align: center;
}

.alignRight {
    float: right;
    text-align: right;
}

.alignLeft {
    float: left;
    text-align: left;
}

.onlyAlignRight {
    text-align: right;
}

.customPandding td {
    padding: 20px 20px;
}

.disableColor {
    color: #CCC;
}

.width100 {
    width: 100%;
}

.width30 {
    width: 250%;
}

.width31 {
    width: 150%;
    height: 300px;
}

.marginTop10 {
    margin-top: 10px;
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper, .scrolling-div .ui-datatable-tablewrapper {
    overflow: auto;
    width: 100%;
    padding-bottom: 5px;
}

.disable-scroll .ui-dialog-content {
    overflow: hidden !important;
}

.soBig {
    width: 120px;
    height: 64px;
    font-size: 28px !important;
}

.dtFilterWidth {
    width: 70px !important;
}

.areaClass {
    display: block;
    border: 1px solid #CCC;
    padding: 5px;
    white-space: pre;
}

.areaClass a {
    text-decoration: underline;
    color: blue;
}

.ACC_TG .ui-panel-titlebar {
    background: #aed7a8;
    color: #000;
    font-weight: normal;
    border: none;
    padding: 0.5em 1em;
}

/* 內文顏色 */
.ACC_TG .ui-widget-content, .ACC_TG .ui-widget-content a {

}

.ACC_BY .ui-panel-titlebar {
    background: #2e44a7;
    font-weight: normal;
    border: none;
    padding: 0.5em 1em;
}

.ACC_YT .ui-panel-titlebar {
    background: #a69b5b;
    color: #070c46;
    font-weight: normal;
    border: none;
    padding: 0.5em 1em;
}

/* 內文顏色 */
.ACC_YT .ui-widget-content, .ACC_YT .ui-widget-content a {

}

.ACC_SYSTEM .ui-panel-titlebar {
    background: #ff99ff;
    font-weight: normal;
    border: none;
    padding: 0.5em 1em;
}

.defaultOverflow .ui-dialog-content {
    overflow: visible;
}

.redColor {
    color: red;
    margin-left: 10px;
}

.ui-panelgrid td, .ui-panelgrid tr {
    border-style: none !important;
    margin: 0 !important;
    padding: 6px !important;
}

.topAligned {
    vertical-align: top;
}

.topAligned10 {
    vertical-align: center;
    horizontal-align: center;
    width: 4%;
}

.topAligned40 {
    vertical-align: top;
    width: 40%;
}

.ui-inplace {
    font-weight: bold;
    color: rgb(0, 0, 153);
}

.textBold {
    font-weight: bold;
}

.btnIcon {
    width: 30px;
    height: 30px;
}

.btnIcon > .ui-icon {
    transform: scale(1.5, 1.5);
}

.btnIcon > .fa {
    margin-top: -5px !important;
}

.btnAccPanelIcon {
    border: none;
    margin-top: 0px !important;
}

.btnAccPanelIcon > .ui-icon {
    border: none;
}

.btnAccPanelIcon > .fa {
    margin-left: 0px !important;
    background-color: rgba(0, 0, 0, 0);
}

.treeIcon > .ui-tree-selectable > .ui-icon {
    transform: scale(1.5, 1.5);
}

.widenTD {
    border-collapse: separate;
    border-spacing: 5px 10px;
}

.wrap {
    word-wrap: break-word;
    word-break: normal;
}

.areaClass {
    display: block;
    white-space: pre;
    width: 400px;
    word-break: break-word;
}

.canEditColor {
    font-weight: bold;
    color: rgb(0, 0, 153);
}

.ui-datatable td, th {
    text-overflow: ellipsis;
}

.breakAll {
    word-break: break-all;
}

.autoSkip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.urgencyRow {
    background: #f2a7c3;
}

.urgencyRowAndUnRead {
    background: #f2a7c3;
    font-weight: bold;
    color: black;
}

.unRead {
    font-weight: bold;
    color: black;
}

.inactiveRow {
    background: #f2a7c3;
}

.reportTypeColor {
    color: blue;
}

/* 日期按鈕 */
#dateBtn ul {
    padding: 0px;
    background: rgba(0, 0, 0, 0);
}

/* 日期按鈕外框 */
#dateBtn ul li {
    border: 1px solid #999;
}

/* 日期外框 */
#dateBtn {
    border: none;
}

/* p:tooltip 的寬度*/
.tooltipWidth {
    max-width: 300px;
}

.ui-accordion .ui-accordion-header {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: .2em .2em .2em 2.0em
}

.ui-accordion .ui-accordion-content {
    padding: .5em 1.5em !important;
    position: static;
}

.datalist-noborder .ui-widget-content {
    border: none;
}

/*變更 disabled 中 opacity*/
.opacity75 .ui-state-disabled {
    opacity: .75 !important;
}

/** 追蹤頁籤的css start*/
.ui-tabs-nav > .ui-state-default {
    background: #76564a !important;
}

.ui-tabs-nav > .ui-state-default a {
    color: #edebe8 !important;
}

.ui-tabs-nav > .ui-state-active {
    background: #edebe8 !important;
    color: #000000 !important;
}

.ui-tabs-nav > .ui-state-active a {
    color: #000000 !important;
    text-decoration: none !important;
}

.ui-tabs-nav > li.ui-state-active a {
    background: #edebe8 !important;
    color: #000000 !important;
}

.ui-accordion > .ui-state-default {
    background: #76564a !important;
}

.ui-accordion > .ui-state-default {
    color: #edebe8 !important;
}

.ui-accordion > .ui-state-active {
    background: #edebe8 !important;
    color: #000000 !important;
}

.ui-accordion > .ui-state-active a {
    color: #000000 !important;
}

.blueAndUnderline {
    color: blue !important;
    text-decoration: underline !important;
}

.redAndUnderline {
    color: red !important;
    text-decoration: underline !important;
}

.req_template_grid_style > .ui-panelgrid td, .req_template_grid_style > .ui-panelgrid tr {
    border-style: none !important;
    margin: 0 !important;
    padding: 1px 6px 0px 6px !important;
}

.assign_send_row_clz {
    background: gainsboro;
}

.assign_send_row_sub_clz {
    font-weight: bold;
}

/** 追蹤頁籤的css end*/


/* hover 效果*/
.cy-hover-highlight {
    /*限定無法選擇字*/
    /* webkit (safari, chrome) browsers */
    -webkit-user-select: none;
    /* mozilla browsers */
    -moz-user-select: none;
    /* webkit (konqueror) browsers */
    -khtml-user-select: none;
    /* IE10+ */
    -ms-user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    position: initial;
    z-index: 9999;
    /*background-color:#91B493;*/
    background-color: #ffeedd;
}

.cy-hover-highlight-no-bg {
    /*限定無法選擇字*/
    /* webkit (safari, chrome) browsers */
    -webkit-user-select: none;
    /* mozilla browsers */
    -moz-user-select: none;
    /* webkit (konqueror) browsers */
    -khtml-user-select: none;
    /* IE10+ */
    -ms-user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    position: initial;
    z-index: 9999;
}

.cy-hover-highlight:hover {
    background-color: #d9cd90;
}

.cy-hover-highlight-no-bg {
    /*限定無法選擇字*/
    /* webkit (safari, chrome) browsers */
    -webkit-user-select: none;
    /* mozilla browsers */
    -moz-user-select: none;
    /* webkit (konqueror) browsers */
    -khtml-user-select: none;
    /* IE10+ */
    -ms-user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    position: initial;
    z-index: 9999;
}

.cy-hover-highlight-no-bg:hover {
    background-color: #d9cd90;
}

/* 在元素前面加上紅色星號 (給必填欄位使用) */
.column-label-require:before {
    content: "＊";
    color: red;
}

/* 將selectonemenu 篩選放大鏡套用官網CSS */
body .ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    padding: .429em .857em .429em .857em !important;
    margin: 0 !important;
    border-bottom: 1px solid #eaeaea !important;
    background-color: #fff !important;
    width: 85% !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-selectonemenu-filter.ui-inputfield {
    padding: .429em !important;
    width: 100% !important;
    text-indent: 1.429em !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    font-family: 'primeicons' !important;
    speak: none !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1 !important;
    display: inline-block !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-indent: 0 !important;
    text-align: center !important;
    background: 0 !important;
    display: inline-block !important;
    font-size: 1.25em !important;
    position: absolute !important;
    left: 1.1146em !important;
    top: 50% !important;
    margin-top: -0.5em !important;
    color: #C0CB26 !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon:before {
    content: "" !important;
}

/* 調整Primefaces 8.0 造成Tree結構的樹葉節點與父節點間距不一致問題 */
.ui-tree .ui-treenode-leaf-icon {
    vertical-align: middle;
}

/* 調整Primefaces 8.0 Tree結構，TreeNode的高度 */
.ui-treenode-leaf, .ui-treenode-parent {
    min-height: 20px !important;
}

/* 去除選取 MENU 上的虛線 */
.ui-menuitem-outline {
    outline: none !important;
}