@CHARSET "UTF-8";

.ui-fileupload-buttonbar {
    width: 850px;
}

.ui-fileupload-content {
    width: 850px;
    height: 100px;
    overflow: auto;
}

.files .name {
    width: 340px;
    word-break: break-all;
}
