<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="../template/templateProject.xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cp="http://java.sun.com/jsf/composite/components"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <f:metadata>
        <f:event
                type="preRenderView"
                listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>

    <ui:define name="title">
        <h:outputText value="設定模版維護作業"/>
    </ui:define>

    <ui:define name="content">
        <style>
            /*colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']*/
            .templetType_MENU_TAG_CAN_USE {
                background: #FCF2BB
            }

            .templetType_SUB_TAG_CAN_USE {
                background: #BBEAFC
            }

            .templetType_SUB_TAG_CAN_READ {
                background: #BBC9FC
            }

            .templetType_EXEC_TRANS_DEP {
                background: #DDDF00
            }

            /* 停留效果
            ----------------------------------*/
            .ui-state-highlight,
            .ui-widget-content .ui-state-highlight,
            .ui-widget-header .ui-state-highlight {
                border: 1px solid #999;
                background: #E9E9E9;
                color: #000000;
            }

            /* 滑入效果
            ----------------------------------
            .ui-state-hover,
            .ui-widget-content .ui-state-hover,
            .ui-widget-header .ui-state-hover,
            .ui-state-focus,
            .ui-widget-content .ui-state-focus,
            .ui-widget-header .ui-state-focus {
                background: #E9E9E9;
            }*/
        </style>

        <p:outputPanel id="allPanel">
            <p:panel
                    id="headerTitle"
                    style="border:none">
                <p:panelGrid
                        style="width:100%;"
                        id="searchArea">
                    <p:row>
                        <p:column style="text-align:right;width:80px;">
                            <p:outputLabel value="程式名稱："/>
                        </p:column>
                        <p:column
                                style="text-align:left;"
                                colspan="2">
                            <p:outputLabel
                                    styleClass="reportTypeColor"
                                    value="設定模版維護作業"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="width:70px;text-align:right;">模版類別：</p:column>
                        <p:column>
                            <p:selectOneMenu
                                    value="#{setting7Bean.searchComponent.searchVo.templetType}">
                                <f:selectItem
                                        itemLabel="全部"
                                        itemValue=""/>
                                <f:selectItems
                                        value="#{setting7Bean.templetTypes}"
                                        var="templetType"
                                        itemLabel="#{templetType.descr}"
                                        itemValue="#{model}">
                                </f:selectItems>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:panelGrid columns="12">
                                <p:commandButton
                                        title="搜尋"
                                        value="搜尋"
                                        actionListener="#{setting7Bean.doSearch()}"
                                        update="id_queryResult"
                                        onstart="showLoad();"
                                        oncomplete="hideLoad();"
                                        process="@this searchArea"/>
                                <p:commandButton
                                        value="新增"
                                        onstart="showLoad();"
                                        oncomplete="hideLoad();PF('editDialog').show();"
                                        actionListener="#{setting7Bean.openAddDialog()}"
                                        update="editDialog"
                                        process="@this"/>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="text-align:right;">
                            <p:outputLabel value="部門："/>
                        </p:column>
                        <p:column style="text-align:left;">
                            <p:commandButton
                                    icon="fa fa-gear"
                                    actionListener="#{setting7Bean.initSerachDepTree()}"
                                    update="setting7SearchDepDlg"
                                    onstart="showLoad();"
                                    process="@this"
                                    oncomplete="hideLoad();PF('setting7SearchDepDlg').show();"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <!--查詢表身-->
                <p:dataTable
                        id="id_queryResult"
                        widgetVar="wv_queryResult"
                        value="#{setting7Bean.templetList}"
                        var="templet"
                        rowKey="#{templet.sid}"
                        rowIndexVar="index"
                        paginator="false"
                        draggableColumns="false"
                        draggableRows="true"
                        resizableColumns="false"
                        selectionMode="single"
                        selection="#{setting7Bean.selectedRow}"
                        rowStyleClass="templetType_#{templet.templetType.name()}"
                        emptyMessage="無符合資料">
                    <p:ajax
                            event="rowDblselect"
                            process="@this id_queryResult"
                            listener="#{setting7Bean.openEditDialog()}"
                            update="editDialog"
                            onstart="showLoad();"
                            oncomplete="hideLoad();"/>
                    <p:ajax
                            event="rowReorder"
                            onstart="showLoad();"
                            oncomplete="deleteDraggableRowsErrorContent();hideLoad();"
                            listener="#{setting7Bean.sort}"
                            update="id_queryResult"/>
                    <p:column
                            headerText="排序序號"
                            width="50"
                            style="text-align:center">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column
                            headerText="模版類別"
                            width="180">
                        <h:outputText value="#{templet.templetTypeShow}"/>
                    </p:column>
                    <p:column headerText="模版名稱">
                        <h:outputText value="#{templet.templetNameShowColorful}"
                                      escape="false"/>
                    </p:column>
                    <p:column headerText="部門">
                        <h:outputText
                                value="#{templet.configValueDepsShow}"
                                escape="false"/>
                    </p:column>
                    <p:column
                            headerText="刪除"
                            width="60"
                            style="text-align:center;">
                        <p:commandButton
                                value="刪除"
                                actionListener="#{setting7Bean.delete(templet.sid)}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="allPanel"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </p:outputPanel>

        <!-- ====================================== -->
        <!-- 內容維護 (新增/編輯) dialog -->
        <!-- ====================================== -->
        <p:dialog
                id="editDialog"
                widgetVar="editDialog"
                header="設定模版 - #{(setting7Bean.editComponent.editMode == 'A')? '新增':'編輯'}"
                modal="true"
                position="center center-100"
                resizable="false"
                closable="true"
                closeOnEscape="true">

            <p:panelGrid
                    style="width:100%;"
                    id="editDialogDataPanel">
                <p:row>
                    <p:column style="text-align:right;width:80px;">
                        <p:outputLabel value="模版類別：" styleClass="column-label-require"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectOneMenu
                                disabled="${setting7Bean.editComponent.editMode != 'A'}"
                                value="#{setting7Bean.editComponent.templetVo.templetType}">
                            <f:selectItem
                                    itemLabel=""
                                    itemValue=""/>
                            <f:selectItems
                                    value="#{setting7Bean.templetTypes}"
                                    var="currTempletType"
                                    itemLabel="#{currTempletType.descr}"
                                    itemValue="${currTempletType}">
                            </f:selectItems>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="模版名稱：" styleClass="column-label-require"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:inputText value="#{setting7Bean.editComponent.templetVo.templetName}"
                                     maxlength="50"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="部門： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:commandButton
                                icon="fa fa-gear"
                                actionListener="#{setting7Bean.initEditDepTree()}"
                                update="setting7EditDepDlg"
                                onstart="showLoad();"
                                process="@this"
                                oncomplete="hideLoad();PF('setting7EditDepDlg').show();"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="含以下單位： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectBooleanCheckbox
                                value="#{setting7Bean.editComponent.templetVo.configValue.depContainFollowing}"
                                style=" text-align: center;"
                                itemLabel=""
                                label="含以下單位"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel
                                value="被選擇單位【除外】： "
                                title="運算結果為被選擇單位『以外』所有單位，此欄位計算規則包含『含以下單位』設定, 並過濾已停用單位"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectBooleanCheckbox
                                value="#{setting7Bean.editComponent.templetVo.configValue.depExcept}"
                                style=" text-align: center;"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="備註： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:inputTextarea
                                value="#{setting7Bean.editComponent.templetVo.memo}"
                                cols="35"
                                rows="7"
                                autoResize="true"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column
                            style="text-align:right;"
                            colspan="2">
                        <hr/>
                        <p:commandButton
                                value="確定"
                                actionListener="#{setting7Bean.saveTemplet()}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="editDialogDataPanel"/>
                        <p:commandButton
                                value="取消"
                                process="@this"
                                oncomplete="PF('editDialog').hide();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:dialog>

        <!-- ====================================== -->
        <!-- 查詢 - 部門選單 dialog -->
        <!-- ====================================== -->
        <p:dialog
                header="部門"
                id="setting7SearchDepDlg"
                position="center center"
                widgetVar="setting7SearchDepDlg"
                modal="true"
                resizable="false"
                closeOnEscape="true">
            <p:outputPanel id="settingSearchDepPanel">
                <cp:depTree
                        model="#{setting7Bean.searchComponent.depTree.getMultipleDepTreeManager()}"
                        dlgName="setting7SearchDepDlg"
                        btnShow="true">
                    <f:actionListener
                            for="actionEvent"
                            binding="#{setting7Bean.searchComponent.depTreeConfirm()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>


        <!-- ====================================== -->
        <!-- 內容維護 - 部門選單 dialog -->
        <!-- ====================================== -->
        <p:dialog
                header="部門"
                id="setting7EditDepDlg"
                position="center+200 center"
                widgetVar="setting7EditDepDlg"
                modal="true"
                resizable="false"
                closeOnEscape="true">
            <p:outputPanel id="setting7EditDepPanel">
                <cp:depTree
                        model="#{setting7Bean.editComponent.depTree.getMultipleDepTreeManager()}"
                        dlgName="setting7EditDepDlg"
                        btnShow="true">
                    <f:actionListener
                            for="actionEvent"
                            binding="#{setting7Bean.editComponent.depTreeConfirm()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
    </ui:define>
</ui:composition>
