<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="../template/templateProjectReport.xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cp="http://java.sun.com/jsf/composite/components"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <f:metadata>
        <f:event
                type="preRenderView"
                listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>

    <ui:define name="title">
        <h:outputText value="核決權限維護"/>
    </ui:define>

    <ui:define name="content">
        <script type="text/javascript" charset="utf-8"
                src="../js/jquery-ui-1.9.1.custom.js"></script>
        <script type="text/javascript" charset="utf-8"
                src="../js/jquery-migrate-3.0.0.min.js"></script>
        <style type="text/css">
            /*colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']*/
            .colorType_CategoryTag {
                background: #FCBBBB
            }

            .colorType_MenuTag {
                background: #FCF2BB
            }

            .colorType_Tag {
                background: #BBEAFC
            }

            .colorType_EXEC_TRANS_DEP {
                background: #DDDF00
            }

            .transparentBackground tr,
            .transparentBackground td {
                background: transparent !important;
                padding: 0px 0px !important;
            }

            /* 停留效果
            ----------------------------------*/
            .ui-state-highlight,
            .ui-widget-content .ui-state-highlight,
            .ui-widget-header .ui-state-highlight {
                border: 1px solid #999;
                background: #E9E9E9;
                color: #000000;
            }


            /* focus效果 (大類)
            ----------------------------------*/
            .edit-category-focus {
                border-color: #FF1414;
                outline: 0 none;
                box-shadow: 0 0 0 0.2em #FFC7C7;
            }

            /* focus效果 (中類)
            ----------------------------------*/
            .edit-menu-focus {
                border-color: #F8DE4F;
                outline: 0 none;
                box-shadow: 0 0 0 0.2em #F8DE4F;
            }

            /* focus效果 (小類)
            ----------------------------------*/
            .edit-tag-focus {
                border-color: #2196F3;
                outline: 0 none;
                box-shadow: 0 0 0 0.2em #a6d5fa;
            }

            /* tooltip效果
            ----------------------------------*/
            /* WS1.1.1 內文資訊(複寫) */
            .WS1-1-1 {
                color: white;
            }

            .ui-tooltip, .arrow:after {
                background: black;
                border: 2px solid white;
            }

            .ui-tooltip {
                padding: 10px 20px;
                color: white;
                border-radius: 20px;

                box-shadow: 0 0 7px black;
                white-space: pre;
            }

            .arrow {
                width: 70px;
                height: 16px;
                overflow: hidden;
                position: absolute;
                left: 50%;
                margin-left: -35px;
                bottom: -16px;
            }

            .arrow.top {
                top: -16px;
                bottom: auto;
            }

            .arrow.left {
                left: 20%;
            }

            .arrow:after {
                content: "";
                position: absolute;
                left: 20px;
                top: -20px;
                width: 25px;
                height: 25px;
                box-shadow: 6px 5px 9px -9px black;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                tranform: rotate(45deg);
            }

            .arrow.top:after {
                bottom: -20px;
                top: auto;
            }
        </style>
        <script type="text/javascript">
            //<![CDATA[
            //特定 class
            var class_scrollable_body = " #{setting9Bean.class_scrollable_body}";

            function updateScroolableBody(scrollable_body) {
                class_scrollable_body = scrollable_body;
            }

            //刷新TreeTableel ScrollHeight
            function refreshTtScrollHeight(ttId) {
                refreshTreeTableScrollHeight(ttId, $(window).height());
            }

            //刷新TreeTableel ScrollHeight
            function refreshTreeTableScrollHeight(ttId, documentHeight) {
                if (!isExist(ttId)) {
                    return;
                }
                var dataTop = getTt_scrollableTop(ttId);
                var heightBottom = getPaginatorBottom_outerHeight(ttId);
                var ttHeight = documentHeight - dataTop - heightBottom - 10;
                updateTt_scrollableHeight(ttId, ttHeight);
            }

            //取得特定treetable scrollable 高度
            function getTt_scrollableHeight(obj) {
                return $("#" + obj + class_scrollable_body).height();
            }

            //取得特定treetable scrollable 位置高度
            function getTt_scrollableTop(obj) {
                return $("#" + obj + class_scrollable_body).offset().top;
            }

            //更新特定treetable scrollable 高度
            function updateTt_scrollableHeight(obj, ttHeight) {
                $("#" + obj + class_scrollable_body).height(ttHeight);
            }

            var ttId = '#{setting9Bean.ttId}';

            function updateTtId(ttid) {
                ttId = ttid;
            }

            jQuery(document).ready(function () {
                refreshTreeTable();
                var el = $(document);
                var escaped = $('<div/>').text(el.attr('title')).html();
                el.attr('title', escaped);
                el.tooltip({
                    position: {
                        my: "center bottom-20",
                        at: "center top",
                        using: function (position, feedback) {
                            $(this).css(position);
                            $("<div>")
                            .addClass("arrow")
                            .addClass(feedback.vertical)
                            .addClass(feedback.horizontal)
                            .appendTo(this);
                        }
                    }
                });
            });
            $(window).resize(function () {
                refreshTreeTable();
            });

            //判斷為iframe
            function checkIframe() {
                if (self !== top) {
                    return true;
                }
                return false;
            }

            //更新TreeTable
            function refreshTreeTable() {
                if (checkIframe()) {
                    refreshTreeTableScrollHeight(ttId, $(window).height());
                } else {
                    refreshTtScrollHeight(ttId);
                }
            }

            // ]]>
        </script>
        <p:remoteCommand
                name="loadALLTags"
                onstart="showLoad();"
                oncomplete="hideLoad();refreshTreeTable();"
                actionListener="#{setting9Bean.refreshEditTag()}"
                process="@this"/>
        <p:outputPanel id="allPanel">
            <p:panel
                    id="headerTitle"
                    style="border:none">
                <p:panelGrid
                        style="width:100%;"
                        id="searchArea">
                    <p:row>
                        <p:column colspan="4" style="padding:0 !important;">
                            <p:panelGrid columns="10">
                                <p:commandButton value="搜尋"
                                                 actionListener="#{setting9Bean.loadALLTags()}"
                                                 onstart="showLoad();"
                                                 oncomplete="hideLoad();refreshTreeTable();"
                                                 process="@this searchArea"
                                />
                                <p:commandButton value="清除"
                                                 actionListener="#{setting9Bean.doClearData()}"
                                                 onstart="showLoad();"
                                                 oncomplete="hideLoad();"
                                                 process="@this"
                                                 update="@this"
                                />
                                <p:outputLabel value="階層："/>
                                <p:inputSwitch
                                        value="#{setting9Bean.showTree}">
                                    <p:ajax event="change"
                                            listener="#{setting9Bean.toggleTree()}"
                                            process="@this"
                                            update="allPanel"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();refreshTreeTable();"/>
                                </p:inputSwitch>
                                <p:outputLabel value="展開："
                                               rendered="#{setting9Bean.showTree and false}"/>
                                <p:selectBooleanCheckbox
                                        widgetVar="expandAll"
                                        value="#{setting9Bean.checkAll}"
                                        rendered="#{setting9Bean.showTree and false}">
                                    <p:ajax event="change"
                                            listener="#{setting9Bean.toggleExpand()}"
                                            process="@this"
                                            update="id_queryResult_tree"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();refreshTreeTable();"/>
                                </p:selectBooleanCheckbox>
                                <p:outputLabel value="顯示停用："/>
                                <p:selectBooleanCheckbox
                                        widgetVar="showDisable"
                                        value="#{setting9Bean.showDisable}">
                                    <p:ajax event="change"
                                            listener="#{setting9Bean.loadALLTags()}"
                                            process="@this"
                                            update="#{setting9Bean.showTree ? 'id_queryResult_tree' : 'id_queryResult'}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();refreshTreeTable();"/>
                                </p:selectBooleanCheckbox>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="類別："/>
                        </p:column>
                        <p:column colspan="1" id="category_tag_id">
                            <p:selectOneMenu value="#{setting9Bean.query.categoryTagId}">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItems value="#{setting9Bean.categoryTagList}"/>
                                <p:ajax event="change"
                                        listener="#{setting9Bean.onSelectCategoryTagName(setting9Bean.query.categoryTagId)}"
                                        process="@this " update="menu_tag_id"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="可使用單位："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="canUseDepDialogPanel"
                                             actionListener="#{setting9Bean.loadCanUseOrgs()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('canUseDeptUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="可閱部門："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="queryViewDepDialogPanel"
                                             actionListener="#{setting9Bean.loadQueryViewDep()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('queryViewDeptUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="指派單位："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="queryTransDepDialogPanel"
                                             actionListener="#{setting9Bean.loadQueryTransDep()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('queryTransDeptUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="執行單位："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="execDepDialogPanel"
                                             actionListener="#{setting9Bean.loadExecOrgs()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('execDeptUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="相關單位："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="relateDepDialogPanel"
                                             actionListener="#{setting9Bean.loadRelatedOrgs()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('relateDeptUnitDlg').show();"
                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="單據名稱："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{setting9Bean.query.menuTagId}"
                                             valueChangeListener="#{setting9Bean.onSelectMenuTagName}"
                                             id="menu_tag_id">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItems value="#{setting9Bean.menuTagList}"/>
                                <p:ajax event="change"
                                        listener="#{setting9Bean.onSelectMenuTagName(setting9Bean.query.menuTagId)}"
                                        process="@this " update="sub_tag_id"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="可使用人員："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="useUserDepPickerDialogPanel"
                                             actionListener="#{setting9Bean.loadUseUserOrgsAndPickerUsers()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('useUserPickerUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="可閱人員："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus"
                                             update="queryViewUserPickerDialogPanel"
                                             actionListener="#{setting9Bean.loadQueryViewUserOrgsAndPickerUsers()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('queryViewUserPickerUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="指派人員："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="assignDepPickerDialogPanel"
                                             actionListener="#{setting9Bean.loadAssignOrgsAndPickerUsers()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('assignDepPickerUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="執行單位簽核人員："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="execDepPickerDialogPanel"
                                             actionListener="#{setting9Bean.loadExecOrgsAndPickerUsers()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('execDepPickerUnitDlg').show();"
                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="執行項目："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{setting9Bean.query.subTagId}" id="sub_tag_id">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItems value="#{setting9Bean.subTagList}"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="多選 類別、單據、執行項目名稱："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:commandButton icon="fa fa-plus" update="tagDialogPanel"
                                             actionListener="#{setting9Bean.loadTags()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('tagUnitDlg').show();"
                            />
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="執行模式："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{setting9Bean.query.execMode}">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItem itemValue="領單" itemLabel="領單"/>
                                <f:selectItem itemValue="派工" itemLabel="派工"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="簽核層級："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{setting9Bean.query.flowType}">
                                <f:selectItem itemValue="" itemLabel="全部"/>
                                <f:selectItems value="#{setting9Bean.flowTypeList}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <!--查詢表身(DataTable)-->
                <p:dataTable
                        id="id_queryResult"
                        widgetVar="wv_queryResult"
                        value="#{setting9Bean.allTagDt}"
                        var="item"
                        rowKey="#{item.sid}"
                        resizableColumns="false"
                        rowStyleClass="colorType_#{item.tagType}"
                        emptyMessage="無符合資料"
                        scrollable="true"
                        scrollHeight="600"
                        tableStyle="width:99%"
                        selectionMode="single"
                        selection="#{setting9Bean.editRow}"
                        rendered="#{!setting9Bean.showTree}">
                    <f:facet name="header">
                        核決權限維護
                    </f:facet>
                    <p:column headerText="選單類別" style="width: 200px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column
                                        style="width: #{ not empty item.name ? '60px' : not empty item.menuName ? '45px':'30px'}">
                                    <p:commandButton
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();#{not empty item.categoryName ? '$(\'#editCategoryName\').addClass(\'edit-category-focus\')' : not empty item.menuName ? '$(\'#editMenuTagName\').addClass(\'edit-menu-focus\')' : not empty item.name ? '$(\'#editTagName\').addClass(\'edit-tag-focus\')' : ''}"
                                            actionListener="#{setting9Bean.settingStatus(item)}"
                                            style="#{ not empty item.name ? 'margin-left: 30px' : not empty item.menuName ? 'margin-left: 15px':''}"/>
                                </p:column>
                                <p:column>
                                    <h:outputText id="categoryName" value="#{item.categoryName}"
                                                  title="#{item.categoryName}"
                                                  style="#{item.status eq 'INACTIVE'?'color: red':''}"
                                                  class="outputTextEllipsis"/>
                                    <h:outputText id="menuName" value="#{item.menuName}"
                                                  title="#{item.menuName}"
                                                  style="#{item.status eq 'INACTIVE'?'color: red':''}"
                                                  class="outputTextEllipsis"/>
                                    <h:outputText id="tagName" value="#{item.name}"
                                                  title="#{item.subTagSearchVO.tagType}#{item.name}"
                                                  style="#{item.status eq 'INACTIVE'?'color: red':''}"
                                                  class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="狀態" style="width: 60px">
                        <p:commandButton
                                icon="fa fa-gear"
                                onstart="showLoad();"
                                oncomplete="hideLoad();#{not empty item.categoryName ? '$(\'#editCategoryStatus\').addClass(\'edit-category-focus\')' : not empty item.menuName ? '$(\'#editMenuTagStatus\').addClass(\'edit-menu-focus\')' : not empty item.name ? '$(\'#editTagStatus\').addClass(\'edit-tag-focus\')' : ''}"
                                actionListener="#{setting9Bean.settingStatus(item)}"/>
                        <h:outputText id="status" value="#{item.status eq 'INACTIVE'?'停用':'正常'}"
                                      style="#{item.status eq 'INACTIVE'?'color: red':''}"/>
                    </p:column>
                    <p:column headerText="可使用單位" style="width: 200px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.menuTagSearchVO != null or item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();#{not empty item.menuName ? '$(\'#editUseDep\').addClass(\'edit-menu-focus\')' : not empty item.name ? '$(\'#editTagUseDep\').addClass(\'edit-tag-focus\')' : ''}"
                                            actionListener="#{setting9Bean.settingStatus(item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 中分類可使用單位 -->
                                    <p:outputLabel
                                            rendered="${item.menuTagSearchVO != null and empty item.menuTagSearchVO.uesDepsShow}"
                                            value="全單位"/>
                                    <p:outputLabel
                                            rendered="#{not empty item.menuTagSearchVO.uesDepsShow}"
                                            styleClass="WC1-1-3 cy-hover-highlight-no-bg"
                                            value="[&nbsp;#{item.menuTagSearchVO.uesDepsShow}&nbsp;]"
                                            title="#{item.menuTagSearchVO.uesDepsShowToolTip}"
                                            escape="false"/>
                                    <!-- 小分類可使用單位 -->
                                    <p:outputLabel
                                            rendered="#{item.subTagSearchVO != null and empty item.subTagSearchVO.canUserDepsShow}"
                                            value="-"/>
                                    <p:outputLabel
                                            rendered="${not empty item.subTagSearchVO.canUserDepsShow}"
                                            styleClass="WC1-1-3 cy-hover-highlight-no-bg"
                                            value="[&nbsp;#{item.subTagSearchVO.canUserDepsShow}&nbsp;]"
                                            title="#{item.subTagSearchVO.canUserDepsShowToolTip}"
                                            escape="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="可使用人員" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.menuTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();$('#editUseUser').addClass('edit-menu-focus')"
                                            actionListener="#{setting9Bean.settingStatus(item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 中分類可使用人員 -->
                                    <h:outputText value="#{item.menuTagSearchVO.useUserNames}"
                                                  title="#{item.menuTagSearchVO.useUserNames}"
                                                  id="useUserNames" escape="false"
                                                  class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="簽核層級" style="width: 80px">
                        <p:commandButton
                                rendered="${item.subTagSearchVO != null}"
                                icon="fa fa-gear"
                                onstart="showLoad();"
                                oncomplete="hideLoad();$('#editReqFlowType').addClass('edit-tag-focus')"
                                actionListener="#{setting9Bean.settingStatus(item)}"/>
                        <h:outputText
                                id="reqFlowType"
                                style="text-align:center"
                                value="#{item.subTagSearchVO.reqFlowTypeShow}"
                                title="#{item.subTagSearchVO.reqFlowTypeShowTitle}"/>
                    </p:column>
                    <p:column headerText="可閱部門" style="width: 200px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();$('#editViewDeps').addClass('edit-tag-focus')"
                                            actionListener="#{setting9Bean.settingStatus(item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 小分類預設可閱部門 -->
                                    <p:outputLabel
                                            rendered="#{item.subTagSearchVO != null and empty item.subTagSearchVO.useDepShow}"
                                            value="-"/>
                                    <p:outputLabel
                                            rendered="#{not empty item.subTagSearchVO.useDepShow}"
                                            styleClass="WC1-1-3 cy-hover-highlight-no-bg"
                                            value="[&nbsp;#{item.subTagSearchVO.useDepShow}&nbsp;]"
                                            title="#{item.subTagSearchVO.useDepShowToolTip}"
                                            escape="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="可閱人員" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();$('#editViewUsers').addClass('edit-tag-focus')"
                                            actionListener="#{setting9Bean.settingStatus(item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 小分類可使用人員 -->
                                    <h:outputText value="#{item.subTagSearchVO.useUserNames}"
                                                  title="#{item.subTagSearchVO.useUserNames}"
                                                  id="readUserNames" escape="false"
                                                  class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="執行單位設定" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel
                                            value="#{item.subTagSearchVO.execDepsName}"
                                            title="#{item.subTagSearchVO.execDepsName}"
                                            escape="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="執行單位簽核人員" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel
                                            value="#{item.execDepSettingSearchVO.userName}"
                                            title="#{item.execDepSettingSearchVO.userListName}"
                                            escape="false"
                                            styleClass="outputLabelEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="執行模式" style="width: 60px">
                        <p:commandButton
                                rendered="${item.subTagSearchVO != null}"
                                icon="fa fa-gear"
                                actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"/>
                        <p:outputLabel
                                rendered="#{item.subTagSearchVO != null}"
                                value="#{item.execDepSettingSearchVO.isNeedToAssign eq '是' ? '指派' : item.execDepSettingSearchVO.isNeedToAssign eq '否' ? '領單' : ''}"/>
                    </p:column>
                    <p:column headerText="指派人員" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel
                                            value="#{item.execDepSettingSearchVO.assignUserName}"
                                            title="#{item.execDepSettingSearchVO.assignUserListName}"
                                            escape="false"
                                            styleClass="outputLabelEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="指派單位" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{item.execDepSettingSearchVO.transdep}"
                                                  escape="false"
                                                  styleClass="outputLabelEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="管理領單人員" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <h:outputText
                                            value="#{item.execDepSettingSearchVO.receviceManager}"
                                            title="#{item.execDepSettingSearchVO.receviceManager}"
                                            id="receviceManager" escape="false"
                                            class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="領單人員" style="width: 100px">
                        <p:panelGrid styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${item.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <h:outputText
                                            value="#{item.execDepSettingSearchVO.receviceUserListName}"
                                            title="#{item.execDepSettingSearchVO.receviceUserListName}"
                                            id="receviceUser" escape="false"
                                            class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:dataTable>
                <!--查詢表身(TreeTable)-->
                <p:treeTable
                        id="id_queryResult_tree"
                        widgetVar="id_queryResult_tree"
                        value="#{setting9Bean.allTagTreeManager.rootNode}"
                        var="node"
                        nodeVar="item"
                        resizableColumns="false"
                        rowStyleClass="colorType_#{item.type}"
                        emptyMessage="無符合資料"
                        scrollable="true"
                        scrollHeight="600"
                        tableStyle="width:99%"
                        selectionMode="single"
                        selection="#{setting9Bean.editNode}"
                        rendered="#{setting9Bean.showTree}">
                    <f:facet name="header">
                        核決權限維護
                    </f:facet>
                    <p:column headerText="選單類別" style="width: 200px">
                        <p:commandButton
                                icon="fa fa-gear"
                                onstart="showLoad();"
                                oncomplete="hideLoad();#{not empty node.categoryName ? '$(\'#editCategoryName\').addClass(\'edit-category-focus\')' : not empty node.menuName ? '$(\'#editMenuTagName\').addClass(\'edit-menu-focus\')' : not empty node.name ? '$(\'#editTagName\').addClass(\'edit-tag-focus\')' : ''}"
                                actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                        <h:outputText id="categoryName" value="#{node.categoryName}"
                                      title="#{node.categoryName}"
                                      style="#{node.status eq 'INACTIVE'?'color: red':''}"/>
                        <h:outputText id="menuName" value="#{node.menuName}"
                                      title="#{node.menuName}"
                                      style="#{node.status eq 'INACTIVE'?'color: red':''}"/>
                        <h:outputText id="tagName" value="#{node.name}"
                                      title="#{node.subTagSearchVO.tagType}#{node.name}"
                                      style="#{node.status eq 'INACTIVE'?'color: red':''}"/>
                    </p:column>
                    <p:column headerText="狀態" style="width: 60px">
                        <p:commandButton
                                icon="fa fa-gear"
                                onstart="showLoad();"
                                oncomplete="hideLoad();#{not empty node.categoryName ? '$(\'#editCategoryStatus\').addClass(\'edit-category-focus\')' : not empty node.menuName ? '$(\'#editMenuTagStatus\').addClass(\'edit-menu-focus\')' : not empty node.name ? '$(\'#editTagStatus\').addClass(\'edit-tag-focus\')' : ''}"
                                actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                        <h:outputText id="status" value="#{node.status eq 'INACTIVE'?'停用':'正常'}"
                                      style="#{node.status eq 'INACTIVE'?'color: red':''}"/>
                    </p:column>
                    <p:column headerText="可使用單位" style="width: 200px">
                        <p:panelGrid id="uesDeps" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.menuTagSearchVO != null or node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();#{not empty node.menuName ? '$(\'#editUseDep\').addClass(\'edit-menu-focus\')' : not empty node.name ? '$(\'#editTagUseDep\').addClass(\'edit-tag-focus\')' : ''}"
                                            actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 中分類可使用單位 -->
                                    <p:outputLabel
                                            rendered="${node.menuTagSearchVO != null and empty node.menuTagSearchVO.uesDepsShow}"
                                            value="全單位"/>
                                    <p:outputLabel
                                            rendered="#{not empty node.menuTagSearchVO.uesDepsShow}"
                                            styleClass="WC1-1-3 cy-hover-highlight-no-bg"
                                            value="[&nbsp;#{node.menuTagSearchVO.uesDepsShow}&nbsp;]"
                                            title="#{node.menuTagSearchVO.uesDepsShowToolTip}"
                                            escape="false"/>
                                    <!-- 小分類可使用單位 -->
                                    <p:outputLabel
                                            rendered="#{node.subTagSearchVO != null and empty node.subTagSearchVO.canUserDepsShow}"
                                            value="-"/>
                                    <p:outputLabel
                                            rendered="${not empty node.subTagSearchVO.canUserDepsShow}"
                                            styleClass="WC1-1-3 cy-hover-highlight-no-bg"
                                            value="[&nbsp;#{node.subTagSearchVO.canUserDepsShow}&nbsp;]"
                                            title="#{node.subTagSearchVO.canUserDepsShowToolTip}"
                                            escape="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="可使用人員" style="width: 100px">
                        <p:panelGrid id="useUserNames" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.menuTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();$('#editUseUser').addClass('edit-menu-focus')"
                                            actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 中分類可使用人員 -->
                                    <h:outputText value="#{node.menuTagSearchVO.useUserNames}"
                                                  title="#{node.menuTagSearchVO.useUserNames}"
                                                  escape="false" class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="簽核層級" style="width: 80px">
                        <p:commandButton
                                rendered="${node.subTagSearchVO != null}"
                                icon="fa fa-gear"
                                onstart="showLoad();"
                                oncomplete="hideLoad();$('#editReqFlowType').addClass('edit-tag-focus')"
                                actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                        <h:outputText
                                id="reqFlowType"
                                style="text-align:center"
                                value="#{node.subTagSearchVO.reqFlowTypeShow}"
                                title="#{node.subTagSearchVO.reqFlowTypeShowTitle}"/>
                    </p:column>
                    <p:column headerText="可閱部門" style="width: 200px">
                        <p:panelGrid id="viewDep" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();$('#editViewDeps').addClass('edit-tag-focus')"
                                            actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 小分類預設可閱部門 -->
                                    <p:outputLabel
                                            rendered="#{node.subTagSearchVO != null and empty node.subTagSearchVO.useDepShow}"
                                            value="-"/>
                                    <p:outputLabel
                                            rendered="#{not empty node.subTagSearchVO.useDepShow}"
                                            styleClass="WC1-1-3 cy-hover-highlight-no-bg"
                                            value="[&nbsp;#{node.subTagSearchVO.useDepShow}&nbsp;]"
                                            title="#{node.subTagSearchVO.useDepShowToolTip}"
                                            escape="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="可閱人員" style="width: 100px">
                        <p:panelGrid id="readUserNames" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();$('#editViewUsers').addClass('edit-tag-focus')"
                                            actionListener="#{setting9Bean.settingStatus(node, item)}"/>
                                </p:column>
                                <p:column>
                                    <!-- 小分類可使用人員 -->
                                    <h:outputText value="#{node.subTagSearchVO.useUserNames}"
                                                  title="#{node.subTagSearchVO.useUserNames}"
                                                  escape="false" class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="執行單位設定" style="width: 100px">
                        <p:panelGrid id="execDeps" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel
                                            value="#{node.subTagSearchVO.execDepsName}"
                                            title="#{node.subTagSearchVO.execDepsName}"
                                            escape="false"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="執行單位簽核人員" style="width: 100px">
                        <p:panelGrid id="execDepSignUser" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel
                                            value="#{node.execDepSettingSearchVO.userName}"
                                            title="#{node.execDepSettingSearchVO.userListName}"
                                            escape="false"
                                            styleClass="outputLabelEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="執行模式" style="width: 60px">
                        <p:commandButton
                                rendered="${node.subTagSearchVO != null}"
                                icon="fa fa-gear"
                                actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"/>
                        <p:outputLabel
                                id="execMode"
                                rendered="#{node.subTagSearchVO != null}"
                                value="#{node.execDepSettingSearchVO.isNeedToAssign eq '是' ? '指派' : node.execDepSettingSearchVO.isNeedToAssign eq '否' ? '領單' : ''}"/>
                    </p:column>
                    <p:column headerText="指派人員" style="width: 100px">
                        <p:panelGrid id="assignUserName" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel
                                            value="#{node.execDepSettingSearchVO.assignUserName}"
                                            title="#{node.execDepSettingSearchVO.assignUserListName}"
                                            escape="false"
                                            styleClass="outputLabelEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="指派單位" style="width: 100px">
                        <p:panelGrid id="assignDep" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{node.execDepSettingSearchVO.transdep}"
                                                  title="#{node.execDepSettingSearchVO.transdep}"
                                                  escape="false"
                                                  styleClass="outputLabelEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="管理領單人員" style="width: 100px">
                        <p:panelGrid id="receviceManager" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <h:outputText
                                            value="#{node.execDepSettingSearchVO.receviceManager}"
                                            title="#{node.execDepSettingSearchVO.receviceManager}"
                                            escape="false" class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column headerText="領單人員" style="width: 100px">
                        <p:panelGrid id="receviceUser" styleClass="transparentBackground">
                            <p:row>
                                <p:column style="width: 30px">
                                    <p:commandButton
                                            rendered="${node.subTagSearchVO != null}"
                                            icon="fa fa-gear"
                                            actionListener="#{setting9Bean.loadExecDepBySubTagSid(node, item)}"
                                            onstart="showLoad();"
                                            oncomplete="hideLoad();"/>
                                </p:column>
                                <p:column>
                                    <h:outputText
                                            value="#{node.execDepSettingSearchVO.receviceUserListName}"
                                            title="#{node.execDepSettingSearchVO.receviceUserListName}"
                                            escape="false" class="outputTextEllipsis"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:treeTable>
            </p:panel>
        </p:outputPanel>

        <p:confirmDialog
                id="confimDlgTemplate"
                widgetVar="confimDlgTemplate">
            <f:facet name="message">
                <h:outputText
                        value="#{setting3Bean.errorMessage}"
                        escape="false"/>
            </f:facet>
            <p:commandButton
                    value="確認"
                    type="button"
                    onclick="PF('confimDlgTemplate').hide()"/>
        </p:confirmDialog>

        <!-- 類別維護 -->
        <p:dialog
                header="類別維護"
                id="category_maintain_setting_dlg_id"
                position="center top"
                modal="true"
                widgetVar="category_maintain_setting_dlg_wv"
                draggable="true"
                closable="true"
                resizable="false"
                closeOnEscape="true">
            <p:panel
                    id="category_maintain_setting_dlg_panel_id"
                    style="border:none">
                <ui:include src="setting3_categoryTag.xhtml"/>
                <p:row>
                    <p:commandButton
                            value="確定"
                            actionListener="#{setting3Bean.saveCategory()}"
                            process="@this category_maintain_setting_dlg_panel_id"
                            onstart="showLoad();"
                            oncomplete="hideLoad();PF('category_maintain_setting_dlg_wv').hide();loadALLTags();"/>
                    <p:commandButton
                            value="取消"
                            onstart="showLoad();"
                            process="@this"
                            oncomplete="hideLoad();PF('category_maintain_setting_dlg_wv').hide();"/>
                </p:row>
            </p:panel>
        </p:dialog>
        <!-- 單據名稱維護 -->
        <ui:include src="setting3_menuTag.xhtml"/>
        <!-- 執行項目維護 -->
        <ui:include src="setting3_subTag.xhtml"/>
        <!-- 執行單位維護 -->
        <ui:include src="setting3_execDep.xhtml"/>
        <!-- 刪除群組 -->
        <p:dialog
                widgetVar="execDep_list_rm_dlg_wv"
                modal="true"
                header="確認"
                resizable="false">
            <h:outputText value="#{setting3Bean.deleteMsg}" escape="false"/>
            <p/>
            <p:commandButton
                    value="確定"
                    actionListener="#{setting3Bean.doDeleteExecDep()}"
                    onstart="showLoad();"
                    process="@this"
                    oncomplete="hideLoad();PF('execDep_list_rm_dlg_wv').hide();"/>
            <p:commandButton
                    value="取消"
                    onclick="PF('execDep_list_rm_dlg_wv').hide()"/>
        </p:dialog>

        <p:dialog header="多選 類別、選單、執行項目名稱" widgetVar="tagUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="tagDialogPanel">
                <cp:tagTree model="#{setting9Bean.tagTreeManager}"
                            dlgName="tagUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent" binding="#{setting9Bean.saveTag()}"/>
                </cp:tagTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="可使用單位" widgetVar="canUseDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="canUseDepDialogPanel">
                <cp:depTree model="#{setting9Bean.canUseDepTreeManager}"
                            dlgName="canUseDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent" binding="#{setting9Bean.saveCanUse()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="可閱部門" widgetVar="queryViewDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="queryViewDepDialogPanel">
                <cp:depTree model="#{setting9Bean.queryViewDepTreeManager}"
                            dlgName="queryViewDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting9Bean.saveQueryViewOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="指派單位" widgetVar="queryTransDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="queryTransDepDialogPanel">
                <cp:depTree model="#{setting9Bean.queryTransDepTreeManager}"
                            dlgName="queryTransDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting9Bean.saveQueryTransOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="執行單位" widgetVar="execDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="execDepDialogPanel">
                <cp:depTree model="#{setting9Bean.execDepTreeManager}"
                            dlgName="execDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent" binding="#{setting9Bean.saveExecOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="相關單位" widgetVar="relateDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="relateDepDialogPanel">
                <cp:depTree model="#{setting9Bean.relateDepTreeManager}"
                            dlgName="relateDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent" binding="#{setting9Bean.saveRelatedOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="執行單位簽核人員"
                  widgetVar="execDepPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="execDepPickerDialogPanel">
                <cp:depTreePicker model="#{setting9Bean.execDepTreePickerManager}"
                                  dlgName="execDepPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting9Bean.saveExecOrgPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="可使用人員"
                  widgetVar="useUserPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="useUserDepPickerDialogPanel">
                <cp:depTreePicker model="#{setting9Bean.useUserDepTreePickerManager}"
                                  dlgName="useUserPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting9Bean.saveUseUserPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="可閱人員"
                  widgetVar="queryViewUserPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="queryViewUserPickerDialogPanel">
                <cp:depTreePicker model="#{setting9Bean.queryViewUserDepTreePickerManager}"
                                  dlgName="queryViewUserPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting9Bean.saveQueryViewUserPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="指派人員"
                  widgetVar="assignDepPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="assignDepPickerDialogPanel">
                <cp:depTreePicker model="#{setting9Bean.assignDepTreePickerManager}"
                                  dlgName="assignDepPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting9Bean.saveAssignOrgPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="可使用人員"
                  widgetVar="useUserDilaogVar"
                  modal="true" onShow="PF('useUserDilaogDatatableVar').clearFilters();"
                  resizable="false"
                  position="center "
                  dynamic="true">
            <p:outputPanel id="useUserDilaogPanelId">
                <p:dataTable widgetVar="useUserDilaogDatatableVar"
                             value="#{setting9Bean.useUsers}"
                             var="rs"
                             rows="50"
                             rowKey="#{rs.sid}"
                             rowIndexVar="index"
                             scrollHeight="200"
                             scrollable="true"
                             paginator="true">
                    <p:column headerText="序"
                              width="30">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column headerText="部門" width="120" filterMatchMode="contains"
                              filterBy="#{rs.departmentName}">
                        <h:outputText value="#{rs.departmentName}"/>
                    </p:column>
                    <p:column headerText="名稱" width="120" filterMatchMode="contains"
                              filterBy="#{rs.name}">
                        <h:outputText value="#{rs.name}"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="可閱人員"
                  widgetVar="viewUserDilaogVar"
                  modal="true" onShow="PF('viewUserDilaogDatatableVar').clearFilters();"
                  resizable="false"
                  position="center "
                  dynamic="true">
            <p:outputPanel id="viewUserDilaogPanelId">
                <p:dataTable widgetVar="viewUserDilaogDatatableVar"
                             value="#{setting9Bean.viewUsers}"
                             var="rs"
                             rows="50"
                             rowKey="#{rs.sid}"
                             rowIndexVar="index"
                             scrollHeight="200"
                             scrollable="true"
                             paginator="true">
                    <p:column headerText="序"
                              width="30">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column headerText="部門" width="120" filterMatchMode="contains"
                              filterBy="#{rs.departmentName}">
                        <h:outputText value="#{rs.departmentName}"/>
                    </p:column>
                    <p:column headerText="名稱" width="120" filterMatchMode="contains"
                              filterBy="#{rs.name}">
                        <h:outputText value="#{rs.name}"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:dialog>
    </ui:define>
</ui:composition>
