<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!-- 子設定視窗 callback (loadALLTags 關鍵字不可異動)-->
	<p:remoteCommand
		name="loadALLTags"
		onstart="showLoad();"
		oncomplete="hideLoad();"
		actionListener="#{setting10DepSettingCheckMbean.prepareCheckItems()}"
		process="@this" />
	<p:remoteCommand
		name="execDepListDlgCallBack"
		actionListener="#{setting10DepSettingCheckMbean.reflashExecDepCheckItems()}"
		process="@this" />
	
	<script type="text/javascript">
		function execDepListDlgCallBack1() {
			console.log("execDepListDlgCallBack");
		}
	</script>		
		
	<!-- 單據名稱維護 -->
	<ui:include src="setting3_menuTag.xhtml" />
	<!-- 執行項目維護 -->
	<ui:include src="setting3_subTag.xhtml" />
	<!-- 執行單位維護 -->
	<ui:include src="setting3_execDep.xhtml" />

	<p:dialog
		header="設定檢查"
		widgetVar="#{setting10DepSettingCheckMbean.DLG_WV}"
		modal="true"
		position="center center-50"
		closeOnEscape="true"
		resizable="false"
		style="height:700px">
		<p:outputPanel
			id="#{setting10DepSettingCheckMbean.DLG_CONTENT}"
			styleClass="#{setting10DepSettingCheckMbean.DLG_CONTENT}"
			style="disply:flex;flex-direction:column;">
			<!-- title -->
			<p:outputLabel
				value="#{setting10DepSettingCheckMbean.titleContent}"
				escape="false"
				style="font-size:1.5em" />
			<div style="height: 8px" />
			<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
			<div style="height: 10px" />
			<!-- 隱藏項目選項 -->
			<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
				<p:selectBooleanCheckbox
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() eq 'MENUTAG_CAN_USE_DEP'}"
					value="#{setting10DepSettingCheckMbean.hideNoSettingItem}"
					itemLabel="不顯示【無設定】項目">
					<p:ajax
						listener="#{setting10DepSettingCheckMbean.prepareHideItem()}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="@(.#{setting10DepSettingCheckMbean.DLG_CONTENT})"
						process="@this" />
				</p:selectBooleanCheckbox>
				<div style="width: 10px"></div>
				<p:selectBooleanCheckbox
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() ne 'EXEC_DEP'}"
					value="#{setting10DepSettingCheckMbean.hideTempleteItem}"
					itemLabel="不顯示【模版】設定">
					<p:ajax
						listener="#{setting10DepSettingCheckMbean.prepareHideItem()}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="@(.#{setting10DepSettingCheckMbean.DLG_CONTENT})"
						process="@this" />
				</p:selectBooleanCheckbox>
			</div>
			<div style="height: 10px" />
			<!-- 表身 -->
			<p:dataTable
				value="#{setting10DepSettingCheckMbean.showCheckItems}"
				var="itemVO"
				rowKey="#{verify.sid}"
				rowIndexVar="rowIndex"
				scrollable="true"
				scrollHeight="600"
				style="width:1200px;">
				<p:column
					headerText="序"
					width="24"
					style="text-align:center">
					<h:outputText value="#{rowIndex + 1}" />
				</p:column>

				<p:column
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() ne 'EXEC_DEP'}"
					headerText="單據名稱"
					width="200">
					<h:outputText
						value="#{itemVO.name}"
						escape="false" />
				</p:column>
				<p:column
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() ne 'EXEC_DEP'}"
					headerText="單據自行設定"
					width="160">
					<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
						<h:outputText
							rendered="#{itemVO.settingType.name() eq 'CUSTOMIZE'}"
							value="#{itemVO.descr}"
							escape="false" />
						<div style="width: 6px"></div>
						<p:commandButton
							rendered="#{itemVO.settingType.name() eq 'CUSTOMIZE'}"
							icon="fa fa-gear"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							actionListener="#{setting10DepSettingCheckMbean.openSettingDlg(itemVO)}" />
					</div>
				</p:column>
				<p:column
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() ne 'EXEC_DEP'}"
					headerText="模版"
					width="160">
					<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
						<h:outputText
							rendered="#{itemVO.settingType.name() eq 'TEMPLETE'}"
							value="#{itemVO.descr}"
							escape="false" />
						<div style="width: 6px"></div>
						<p:commandButton
							rendered="#{itemVO.settingType.name() eq 'TEMPLETE'}"
							icon="fa fa-gear"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							actionListener="#{setting10DepSettingCheckMbean.openSettingDlg(itemVO)}" />
					</div>
				</p:column>
				<p:column
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() ne 'EXEC_DEP'}"
					headerText="無設定值"
					width="50"
					style="text-align:center">
					<h:outputText
						rendered="#{itemVO.settingType.name() eq 'EMPTY'}"
						value="#{itemVO.descr}"
						escape="false" />
				</p:column>
				<!-- 執行單位 -->
				<p:column
					rendered="#{setting10DepSettingCheckMbean.targetCheckItemType.name() eq 'EXEC_DEP'}"
					headerText="執行單位設定">
					<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
						<p:commandButton
							icon="fa fa-gear"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							actionListener="#{setting10DepSettingCheckMbean.openSettingDlg(itemVO)}" />
						<div style="width: 6px"></div>
						<h:outputText
							value="#{itemVO.name}"
							escape="false" 
							/>
					</div>
				</p:column>
			</p:dataTable>
			<div style="height: 20px">&nbsp;</div>
		</p:outputPanel>
	</p:dialog>
</ui:composition>

