<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<p:dialog
		rendered="#{not empty setting11Bean.execDepComponent}"
		header="執行單位轉檔"
		widgetVar="dlgExecDepForTransform"
		modal="true"
		position="center center-50"
		width="calc(100% - 50px)"
		maximizable="true"
		closeOnEscape="true"
		resizable="false">
		<p:panelGrid styleClass="spec_RemoveCss">
			<p:row>
				<p:column>
					<p:panelGrid
						id="dlgExecDepForTransform_depnfo"
						style="border:1px solid #9A7061">
						<p:row>
							<p:column styleClass="ui-widget-header">
								<p:outputLabel value="轉換前" />
							</p:column>
							<p:column>
								<p:outputLabel
									rendered="#{not empty setting11Bean.execDepComponent.cpontVO}"
									value="#{setting11Bean.execDepComponent.cpontVO.selVerifyDtVO.showBeforeDep}"
									escape="false" />
							</p:column>
							<p:column styleClass="ui-widget-header">
								<p:outputLabel value="轉換後" />
							</p:column>
							<p:column>
								<p:outputLabel
									rendered="#{not empty setting11Bean.execDepComponent.cpontVO}"
									value="#{setting11Bean.execDepComponent.cpontVO.selVerifyDtVO.showAfterDep}"
									escape="false" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:panelGrid columns="5">
						<p:commandButton
							value="查詢未轉檔資料"
							icon="ui-icon-search"
							actionListener="#{setting11Bean.execDepComponent.btnQuery()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();PF('dlgExecDepForTransform_Datatable').filter();"
							update="dlgExecDepForTransform_Datatable"
							process="@this">
						</p:commandButton>
						<p:commandButton
							value="轉檔"
							icon="fa fa-refresh"
							actionListener="#{setting11Bean.execDepComponent.btnTrnsSelected()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();PF('dlgExecDepForTransform_Datatable').clearFilters();"
							update="dlgExecDepForTransform_Datatable"
							process="@this dlgExecDepForTransform_Datatable">
						</p:commandButton>
						<p:commandButton
							value="結案轉檔"
							title="針對執行單位目前的執行狀況為【終止、符合需求】的部分"
							icon="fa fa-refresh"
							actionListener="#{setting11Bean.execDepComponent.btnTrnsClosed()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this">
						</p:commandButton>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:dataTable
						id="dlgExecDepForTransform_Datatable"
						widgetVar="dlgExecDepForTransform_Datatable"
						var="currVo"
						value="#{setting11Bean.execDepComponent.cpontVO.showDtVOList}"
						selection="#{setting11Bean.execDepComponent.cpontVO.selectedDtVOList}"
						rowKey="#{currVo.execDepSettingSid}"
						rowIndexVar="rowIndex"
						resizableColumns="true"
						liveResize="true"
						scrollable="true"
						scrollHeight="500"
						paginator="true"
						paginatorPosition="bottom"
						rows="500"
						rowsPerPageTemplate="50,500,1000,2000"
						disabledSelection="#{not currVo.selectAble}">
						<p:column
							selectionMode="multiple"
							exportable="false"
							style="width:20px;text-align:center" />
						<p:column
							headerText="序"
							styleClass="alignCenter"
							width="36">
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<p:column
							headerText="類別"
							filterBy="#{currVo.categoryName}"
							filterMatchMode="contains"
							width="150"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.categoryName}" />
						</p:column>
						<p:column
							headerText="單據名稱"
							filterBy="#{currVo.menuName}"
							filterMatchMode="contains"
							width="150"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.menuName}" />
						</p:column>
						<p:column
							headerText="執行項目"
							filterBy="#{currVo.tagName}"
							filterMatchMode="contains"
							width="150"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.tagName}" />
						</p:column>
						<p:column
							rendered="false"
							headerText="狀態"
							width="50">
							<h:outputText
								value="#{currVo.status}"
								escape="false" />
						</p:column>
						<p:column
							headerText="需求方簽核"
							width="70">
							<h:outputText value="#{currVo.reqSignInfo}" />
						</p:column>
						<p:column
							headerText="執行模式"
							width="70">
							<h:outputText value="#{currVo.execMode}" />
						</p:column>
						<p:column headerText="領單人員">
							<h:outputText
								id="receviceUsers"
								value="#{currVo.receviceUsersShow}"
								escape="false"
								class="outputTextEllipsis" />
							<p:tooltip
								for="receviceUsers"
								style="white-space:pre;"
								value="#{currVo.receviceUsersShow}"
								trackMouse="true"
								escape="false" />
						</p:column>
					</p:dataTable>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:dialog>
</ui:composition>

