<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="領單人員維護作業"/>
    </ui:define>

    <ui:define name="content">
        <p:remoteCommand name="doSearchData" actionListener="#{setting6Bean.doSearch()}"
                         update="#{setting6Bean.dataTableID}"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this headerTitle"/>
        <p:outputPanel id="allPanel">
            <p:panel id="headerTitle" style="border:none">
                <p:outputPanel id="headerPanel">
                    <p:outputPanel style="margin-left:5px;">
                        <h:outputText value="類型 ： 類別執行單位列表" styleClass="reportTypeColor"/>
                    </p:outputPanel>
                </p:outputPanel>

            </p:panel>
            <!--查詢表身-->
            <p:dataTable id="#{setting6Bean.dataTableID}"
                         widgetVar="#{setting6Bean.dataTableWv}"
                         value="#{setting6Bean.managerMenuVO}" var="workReport"
                         rowKey="#{workReport.menuSid}" rowIndexVar="index"
                         scrollHeight="450" scrollable="true" paginator="true" rows="50"
                         draggableColumns="false"
                         resizableColumns="false"
                         selectionMode="single"
                         selection="#{setting6Bean.selManagerMenuVO}">
                <p:ajax event="rowDblselect"
                        process="@this #{setting6Bean.dataTableID}"
                        listener="#{setting6Bean.loadExecDepSetting()}"
                        onstart="showLoad();"
                        oncomplete="hideLoad();"/>
                <p:column headerText="序" style=" width: 10px;">
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="類別" sortBy="#{workReport.categoryName}" rendered="true">
                    <h:outputText value="#{workReport.categoryName}"/>
                </p:column>
                <p:column headerText="單據名稱" sortBy="#{workReport.menuName}" rendered="true">
                    <h:outputText value="#{workReport.menuName}#{workReport.menuMemo} "/>
                </p:column>
            </p:dataTable>
        </p:outputPanel>


        <p:dialog header="選單列表" position=" top"
                  modal="true"
                  widgetVar="menu_list_dlg_wv"
                  draggable="true"
                  closable="false"
                  resizable="false">

            <p:outputPanel id="menu_list_header_id">
                <p:outputPanel style="margin-left:5px;">
                    <h:outputText value="類型 ： 類別執行單位維護作業" styleClass="reportTypeColor"/>
                    <h:outputText value="　　#{setting6Bean.selMenuName}"/>
                </p:outputPanel>
            </p:outputPanel>
            <!--查詢表身-->
            <p:dataTable id="menu_list_datatable_id"
                         widgetVar="menu_list_datatable_wv"
                         value="#{setting6Bean.managerExecDepSettingVOs}" var="tagMenu"
                         rowKey="#{tagMenu.execDepSettingSid}"
                         rowIndexVar="index"
                         scrollHeight="450" scrollable="true" paginator="true" rows="50"
                         draggableColumns="false"
                         resizableColumns="false"
                         resizeMode="expand"
                         selectionMode="single"
                         selection="#{setting6Bean.selManagerExecDepSettingVO}">
                <p:ajax event="rowDblselect"
                        process="menu_list_datatable_id"
                        listener="#{setting6Bean.loadReceviceSetting()}"
                        onstart="showLoad();"
                        oncomplete="hideLoad();"/>

                <p:column headerText="序" style=" width: 5px;" rendered="true">
                    <h:outputText value="#{index+1}"/>
                </p:column>

                <p:column headerText="執行項目" rendered="true" style="width: 250px;"
                >
                    <h:outputText value="#{tagMenu.tagName}#{tagMenu.tagMemo} "/>
                </p:column>
                <p:column headerText="執行單位名稱" rendered="true" style="width: 250px;">
                    <h:outputText value="#{tagMenu.execDepName}"/>
                </p:column>
                <p:column headerText="分派類型" rendered="true" style="width: 100px;">
                    <h:outputText value="#{tagMenu.receviceType}"/>
                </p:column>
                <p:column headerText="領單人員" rendered="true">
                    <p:outputLabel value="#{tagMenu.recevicePerson}" escape="false"
                                   style="#{tagMenu.receviceCss}"
                                   styleClass="autoSkip"/>
                    <p:tooltip for="@previous" value="#{tagMenu.receviceInfo}"
                               escape="false" style="white-space: pre;"
                               trackMouse="true"/>
                </p:column>
            </p:dataTable>
            <p:commandButton title="關閉" value="關閉" process="@this"
                             onclick="PF('menu_list_dlg_wv').hide();"/>
        </p:dialog>

        <p:dialog header="執行單位領單人員設定"
                  id="execDep_data_dlg_id"
                  position="left top"
                  width="50%"
                  modal="true"
                  widgetVar="execDep_data_dlg_wv"
                  draggable="true"
                  closable="false"
                  resizable="false"
        >
            <p:scrollPanel style="height:400px"
                           mode="native">
                <p:panel id="execDep_data_dlg_panel_id" style="border:none">
                    <p:panel id="execDep_data_dlg_managerRecevice_panel_id" style="border:none;">
                        <!-- 成員選擇畫面-->
                        <p:panel style="border:none;">
                            <p:pickList id="execDep_data_dlg_managerRecevice_add_panel_pickList_id"
                                        value="#{setting6Bean.managerReceviceDataPickList}" var="u"
                                        converter="#{userViewVOConverter}"
                                        itemLabel="#{u.name}" itemValue="#{u}"
                                        showSourceFilter="true"
                                        showTargetFilter="true"
                                        filterMatchMode="contains">

                                <f:facet name="sourceCaption">未選取清單</f:facet>
                                <f:facet name="targetCaption">已選取清單</f:facet>
                                <p:column>
                                    <h:outputText value="#{u.departmentName} - #{u.name}"/>
                                </p:column>
                            </p:pickList>
                        </p:panel>
                    </p:panel>
                    <p:separator/>
                    <p:row>
                        <p:commandButton value="確定"
                                         actionListener="#{setting6Bean.saveReceviceSetting()}"
                                         onstart="showLoad();" oncomplete="hideLoad();"
                                         process="@this execDep_data_dlg_managerRecevice_add_panel_pickList_id"/>
                        <p:commandButton value="取消"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('execDep_data_dlg_wv').hide()"/>
                    </p:row>

                </p:panel>
            </p:scrollPanel>
        </p:dialog>
        <p:confirmDialog id="confimDlgTemplate" widgetVar="confimDlgTemplate">
            <f:facet name="message">
                <h:outputText value="#{setting6Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confimDlgTemplate').hide()"/>
        </p:confirmDialog>


    </ui:define>

</ui:composition>
