<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProject.xhtml">

	<f:metadata>
		<f:viewAction action="#{setting11Bean.viewAction()}" />
		<f:event
			type="preRenderView"
			listener="#{setting11Bean.preRenderView()}" />
	</f:metadata>

	<ui:define name="title">
		<h:outputText value="組織異動資料轉換管理" />
	</ui:define>
	<ui:define name="content">
		<style>
.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9;
}
</style>
		<p:outputPanel id="screen_view">
			<p:panelGrid styleClass="spec_RemoveCss">
				<p:row>
					<p:column>
						<p:panelGrid
							style="border:1px solid #9A7061"
							styleClass="spec_RemoveCss">
							<p:row>
								<p:column>
									<p:outputLabel value="生效日：" />
								</p:column>
								<p:column>
									<p:selectOneMenu
										id="selectOneMenu_queryByEffectiveDate"
										value="#{setting11Bean.pageVO.qryEffectiveDate}">
										<f:selectItems value="#{setting11Bean.allEffectiveDateItems}" />
									</p:selectOneMenu>
								</p:column>
								<p:column>
                                    &nbsp;
                                </p:column>
								<p:column>
									<p:commandButton
										value="搜尋"
										actionListener="#{setting11Bean.btnSearchWorkVerify()}"
										onclick="showLoad();"
										oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
										update="screen_view_dt"
										process="@this selectOneMenu_queryByEffectiveDate" />
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<p:dataTable
							id="screen_view_dt"
							widgetVar="screen_view_wv"
							var="verify"
							value="#{setting11Bean.pageVO.verifyDtVOList}"
							selection="#{setting11Bean.pageVO.selVerifyDtVO}"
							rowKey="#{verify.sid}"
							rowIndexVar="rowIndex"
							selectionMode="single"
							scrollable="true"
							resizableColumns="true"
							liveResize="true">

							<p:column
								headerText="序"
								styleClass="alignCenter"
								width="10">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>
							<p:column
								headerText="生效日"
								styleClass="alignCenter"
								width="50">
								<h:outputText value="#{verify.showEffectiveDate}" />
							</p:column>
							<p:column
								width="140"
								headerText="轉換前單位">
									<h:outputText
										value="#{verify.showBeforeDep}"
										escape="false" />
							</p:column>
							<p:column
								width="140"
								headerText="轉換後單位">
								<h:outputText
									value="#{verify.showAfterDep}"
									escape="false" />
							</p:column>
							<p:column
								headerText="轉換:執行單位"
								styleClass="alignCenter"
								width="100">
								<p:commandButton
									icon="fa fa-file-text"
									value="執行單位"
									actionListener="${setting11Bean.execDepComponent.openTrnsWindow(verify)}"
									onclick="showLoad();"
									oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
									update="dlgExecDepForTransform_depnfo"
									process="@this" />
							</p:column>
							<p:column
								headerText="轉換:指派單位"
								styleClass="alignCenter"
								width="100">
								<p:commandButton
									icon="fa fa-suitcase"
									value="指派單位"
									actionListener="${setting11Bean.transDepComponent.openTrnsWindow(verify)}"
									onclick="showLoad();"
									oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
									update="dlgTransDepForTransform_depnfo"
									process="@this" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:outputPanel>
		
		<!-- 轉換執行單位 -->
		<ui:include src="setting11_execDep.xhtml" />
		<!-- 轉換指派單位 -->
		<ui:include src="setting11_transDep.xhtml" />


		<p:confirmDialog
			id="confimDlgTemplate"
			widgetVar="confimDlgTemplate">
			<f:facet name="message">
				<h:outputText
					value="#{setting11Bean.errorMessage}"
					escape="false" />
			</f:facet>
			<p:commandButton
				value="確認"
				type="button"
				onclick="PF('confimDlgTemplate').hide()" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>